In [1]:
import pandas as pd
import numpy as np

import time
import datetime

DATASETS_LOCATION = "/Users/gomerudo/workspace/datasets"
REDUCED_FILE = False

In [2]:
# Helper functions
def format_timestamp(timestamp_string):
    timestamp_format = '%m/%d/%Y %I:%M:%S %p'
    return datetime.datetime.strptime(timestamp_string, timestamp_format)
    
# String in the format: DD/MM/YYYY HH:MM:SS AM|PM
def roundupdown(timestamp_string):
    timestamp_format = '%m/%d/%Y %I:%M:%S %p'
    my_time = datetime.datetime.strptime(timestamp_string, timestamp_format)
    down_time = my_time.replace(microsecond = 0,second = 0,minute = 0)
    up_time = datetime.timedelta(minutes = 59) + down_time
    up_time = up_time.replace(second = 59)
    return down_time, up_time

def crime_type_to_key(crime_type):
    return "CT_{}".format(crime_type.replace(' ', '_'))

def case_number_to_key(case_number):
    return "CASE_{}".format(case_number)

def community_to_key(community_number):
    return "C{}".format(community_number)

def district_to_key(district_number):
    return "D{}".format(district_number)

def location_to_key(index):
    return "LOC{}".format(index)

## Load clean datasets

In [5]:
# Loading from absolute path, because the dataset is too big to download and to upload

DATASET_CRIMES_PATH = DATASETS_LOCATION + "/chicago_crimes_2001_present_clean.csv"
DATASET_INDICATORS_PATH = DATASETS_LOCATION + "/chicago_socioeconomic_indicators_2008_2012_clean.csv"

# Load CSVs
crimes_df = pd.read_csv(DATASET_CRIMES_PATH, na_values = ["", " "])

if REDUCED_FILE:
    crimes_df = crimes_df[:100000]

indicators_df = pd.read_csv(DATASET_INDICATORS_PATH, na_values = ["", " "])

In [4]:
# Show preview of crimes
crimes_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Community Area,Year,Latitude,Longitude
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,1111,11,25,2015,41.891399,-87.744385
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,725,7,67,2015,41.773372,-87.665319
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,222,2,39,2015,41.813861,-87.596643
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,225,2,40,2015,41.800802,-87.622619
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,1113,11,25,2015,41.878065,-87.743354

In [5]:
# Show preview of indicators
indicators_df.head()

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

## Do the stuff for the network creation :D

In [4]:
# Loading from absolute path, because the dataset is too big to download and to upload
DATASET_NODES_PATH = DATASETS_LOCATION + "/timewise_nodes.csv"
DATASET_EDGES_PATH = DATASETS_LOCATION + "/timewise_edges.csv"

# Load CSVs
nodes_df = pd.read_csv(DATASET_NODES_PATH, na_values = ["", " "])
edges_df = pd.read_csv(DATASET_EDGES_PATH, na_values = ["", " "])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (3,4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
nodes_list = nodes_df.values.tolist()
edges_list = edges_df.values.tolist()

### - First create the csv for the nodes

In [28]:
import time

start_time = time.time()

nodes_list = []

headers = ["NodeID", 
           "Property1", "Value1", 
           "Property2", "Value2", 
           "Property3", "Value3", 
           "Property4", "Value4",
           "Property5", "Value5"]

# For communities
communities = crimes_df['Community Area'].unique()
communities = np.sort(communities)

for community in communities:
    nodes_list.append([community_to_key(community), # NodeID
                       'NodeLabel', # Property1
                       'Community', # Value1
                       'Name', # Property2
                       community_to_key(community), # Value2
                       np.NAN, # Property3
                       np.NAN, # Value3
                       np.NAN, # Property4
                       np.NAN, # Value4
                       np.NAN, # Property5
                       np.NAN]) # Value5

# For districts
districts = crimes_df['District'].unique()
districts = np.sort(districts)

for district in districts:
    nodes_list.append([district_to_key(district), #NodeID
                       'NodeLabel', # Property1
                       'District', # Value1
                       'Name', # Property2
                       district_to_key(district), # Value2
                       np.NAN, # Property3
                       np.NAN, # Value3
                       np.NAN, # Property4
                       np.NAN, # Value4
                       np.NAN, # Property5
                       np.NAN]) # Value5

# For primary type...
crime_types = crimes_df['Primary Type'].unique()
crime_types = np.sort(crime_types)

for i, crime_type in enumerate(crime_types):
    nodes_list.append([crime_type_to_key(crime_type), # NodeID
                       'NodeLabel', # Property1
                       'CrimeType', # Value1
                       'Name', # Property2
                       crime_type, # Value2
                       '', # Property 3
                       '']) # Value3

# For case numbers
for index, row in crimes_df.iterrows():
    nodes_list.append([case_number_to_key(row['Case Number']), # NodeID
                       'NodeLabel', # Property1
                       'CaseNumber', # Value1
                       'Name', # Property2
                       row['Case Number'], # Value2
                       'Type', # Property3
                       crime_type_to_key(row['Primary Type']), # Value3
                       'Latitude', # Property4
                       row['Latitude'], # Value4
                       'Longitude', # Property5
                       row['Longitude'] ]) # Value5

locations = crimes_df['Location Description'].unique()
locations = np.sort(locations)

for i, location in enumerate(locations):
    nodes_list.append([
                       location_to_key(i), # NodeID
                       'NodeLabel', # Property1
                       'Location', # Value1
                       'Name', # Property2
                       location, # Value2
                       np.NAN, # Property3
                       np.NAN, # Value3
                       np.NAN, # Property4
                       np.NAN, # Value4
                       np.NAN, # Property5
                       np.NAN]) # Value5

    
# Create other nodes (based on criterias of indicators and so on)
# Based on hardship
nodes_list.append(["CR_DAN".format(), # NodeID
                   'NodeLabel', # Property1
                   'Category', # Value1
                   'Name', # Property2
                   'Dangereous', # Value2
                   'Comment', # Property3
                   'Bassed on hardship index', # Value3
                   np.NAN, # Property4
                   np.NAN, # Value4
                   np.NAN, # Property5
                   np.NAN]) # Value5


nodes_list.append(["CR_CMP".format(), # NodeID
                   'NodeLabel', # Property1
                   'Category', # Value1
                   'Name', # Property2
                   'Compliant', # Value2
                   'Comment', # Property3
                   'Bassed on the overall percentage of arrests', # Value3
                   np.NAN, # Property4
                   np.NAN, # Value4
                   np.NAN, # Property5
                   np.NAN]) # Value5


# Create the pandas DataFrame to save the results
nodes_df = pd.DataFrame(nodes_list, columns = headers)

end_time = time.time()
print("Creation of nodes data frame took {:.2f} sec".format(end_time - start_time))

nodes_df

Creation of nodes data frame took 761.53 sec

,NodeID,Property1,Value1,Property2,Value2,Property3,Value3,Property4,Value4,Property5,Value5
0,C1,NodeLabel,Community,Name,C1,NaN,NaN,NaN,NaN,NaN,NaN
1,C2,NodeLabel,Community,Name,C2,NaN,NaN,NaN,NaN,NaN,NaN
2,C3,NodeLabel,Community,Name,C3,NaN,NaN,NaN,NaN,NaN,NaN
3,C4,NodeLabel,Community,Name,C4,NaN,NaN,NaN,NaN,NaN,NaN
4,C5,NodeLabel,Community,Name,C5,NaN,NaN,NaN,NaN,NaN,NaN
5,C6,NodeLabel,Community,Name,C6,NaN,NaN,NaN,NaN,NaN,NaN
6,C7,NodeLabel,Community,Name,C7,NaN,NaN,NaN,NaN,NaN,NaN
7,C8,NodeLabel,Community,Name,C8,NaN,NaN,NaN,NaN,NaN,NaN
8,C9,NodeLabel,Community,Name,C9,NaN,NaN,NaN,NaN,NaN,NaN
9,C10,NodeLabel,Community,Name,C10,NaN,NaN,NaN,NaN,NaN,NaN
10,C11,NodeLabel,Community,Name,C11,NaN,NaN,NaN,NaN,NaN,NaN
11,C12,NodeLabel,Community,Name,C12,NaN,NaN,NaN,NaN,NaN,NaN
12,C13,NodeLabel,Community,Name,C13,NaN,NaN,NaN,NaN,NaN,NaN
13,C14,NodeLabel,Community,Name,C14,NaN,NaN,NaN,NaN,NaN,NaN
14,C15,NodeLabel,Community,Name,C15,NaN,NaN,NaN,NaN,NaN,NaN
15,C16,NodeLabel,Community,Name,C16,NaN,NaN,NaN,NaN,NaN,NaN
16,C17,NodeLabel,Community,Name,C17,NaN,NaN,NaN,NaN,NaN,NaN
17,C18,NodeLabel,Community,Name,C18,NaN,NaN,NaN,NaN,NaN,NaN
18,C19,NodeLabel,Community,Name,C19,NaN,NaN,NaN,NaN,NaN,NaN
19,C20,NodeLabel,Community,Name,C20,NaN,NaN,NaN,NaN,NaN,NaN
20,C21,NodeLabel,Community,Name,C21,NaN,NaN,NaN,NaN,NaN,NaN
21,C22,NodeLabel,Community,Name,C22,NaN,NaN,NaN,NaN,NaN,NaN
22,C23,NodeLabel,Community,Name,C23,NaN,NaN,NaN,NaN,NaN,NaN
23,C24,NodeLabel,Community,Name,C24,NaN,NaN,NaN,NaN,NaN,NaN
24,C25,NodeLabel,Community,Name,C25,NaN,NaN,NaN,NaN,NaN,NaN
25,C26,NodeLabel,Community,Name,C26,NaN,NaN,NaN,NaN,NaN,NaN
26,C27,NodeLabel,Community,Name,C27,NaN,NaN,NaN,NaN,NaN,NaN
27,C28,NodeLabel,Community,Name,C28,NaN,NaN,NaN,NaN,NaN,NaN
28,C29,NodeLabel,Community,Name,C29,NaN,NaN,NaN,NaN,NaN,NaN
29,C30,NodeLabel,Community,Name,C30,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5855933,LOC144,NodeLabel,Location,Name,"SCHOOL, PRIVATE, GROUNDS",NaN,NaN,NaN,NaN,NaN,NaN
5855934,LOC145,NodeLabel,Location,Name,"SCHOOL, PUBLIC, BUILDING",NaN,NaN,NaN,NaN,NaN,NaN
5855935,LOC146,NodeLabel,Location,Name,"SCHOOL, PUBLIC, GROUNDS",NaN,NaN,NaN,NaN,NaN,NaN
5855936,LOC147,NodeLabel,Location,Name,SEWER,NaN,NaN,NaN,NaN,NaN,NaN
5855937,LOC148,NodeLabel,Location,Name,SIDEWALK,NaN,NaN,NaN,NaN,NaN,NaN
5855938,LOC149,NodeLabel,Location,Name,SMALL RETAIL STORE,NaN,NaN,NaN,NaN,NaN,NaN
5855939,LOC150,NodeLabel,Location,Name,SPORTS ARENA/STADIUM,NaN,NaN,NaN,NaN,NaN,NaN
5855940,LOC151,NodeLabel,Location,Name,STAIRWELL,NaN,NaN,NaN,NaN,NaN,NaN
5855941,LOC152,NodeLabel,Location,Name,STREET,NaN,NaN,NaN,NaN,NaN,NaN
5855942,LOC153,NodeLabel,Location,Name,TAVERN,NaN,NaN,NaN,NaN,NaN,NaN
5855943,LOC154,NodeLabel,Location,Name,TAVERN/LIQUOR STORE,NaN,NaN,NaN,NaN,NaN,NaN
5855944,LOC155,NodeLabel,Location,Name,TAXI CAB,NaN,NaN,NaN,NaN,NaN,NaN
5855945,LOC156,NodeLabel,Location,Name,TAXICAB,NaN,NaN,NaN,NaN,NaN,NaN
5855946,LOC157,NodeLabel,Location,Name,TRAILER,NaN,NaN,NaN,NaN,NaN,NaN
5855947,LOC158,NodeLabel,Location,Name,TRUCK,NaN,NaN,NaN,NaN,NaN,NaN
5855948,LOC159,NodeLabel,Location,Name,TRUCKING TERMINAL,NaN,NaN,NaN,NaN,NaN,NaN
5855949,LOC160,NodeLabel,Location,Name,VACANT LOT,NaN,NaN,NaN,NaN,NaN,NaN
5855950,LOC161,NodeLabel,Location,Name,VACANT LOT/LAND,NaN,NaN,NaN,NaN,NaN,NaN
5855951,LOC162,NodeLabel,Location,Name,VEHICLE - DELIVERY TRUCK,NaN,NaN,NaN,NaN,NaN,NaN
5855952,LOC163,NodeLabel,Location,Name,VEHICLE - OTHER RIDE SERVICE,NaN,NaN,NaN,NaN,NaN,NaN
5855953,LOC164,NodeLabel,Location,Name,"VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER...",NaN,NaN,NaN,NaN,NaN,NaN
5855954,LOC165,NodeLabel,Location,Name,VEHICLE NON-COMMERCIAL,NaN,NaN,NaN,NaN,NaN,NaN
5855955,LOC166,NodeLabel,Location,Name,VEHICLE-COMMERCIAL,NaN,NaN,NaN,NaN,NaN,NaN
5855956,LOC167,NodeLabel,Location,Name,VESTIBULE,NaN,NaN,NaN,NaN,NaN,NaN
5855957,LOC168,NodeLabel,Location,Name,WAREHOUSE,NaN,NaN,NaN,NaN,NaN,NaN
5855958,LOC169,NodeLabel,Location,Name,WOODED AREA,NaN,NaN,NaN,NaN,NaN,NaN
5855959,LOC170,NodeLabel,Location,Name,YARD,NaN,NaN,NaN,NaN,NaN,NaN
5855960,LOC171,NodeLabel,Location,Name,YMCA,NaN,NaN,NaN,NaN,NaN,NaN
5855961,CR_DAN,NodeLabel,Category,Name,Dangereous,Comment,Bassed on hardship index,NaN,NaN,NaN,NaN
5855962,CR_CMP,NodeLabel,Category,Name,Compliant,Comment,Bassed on the overall percentage of arrests,NaN,NaN,NaN,NaN

In [29]:
# Save nodes for further usage
if REDUCED_FILE:
    DATASET_NODES_PATH = DATASETS_LOCATION + "/timewise_nodes_reduced.csv"
else:
    DATASET_NODES_PATH = DATASETS_LOCATION + "/timewise_nodes.csv"

nodes_df.to_csv(DATASET_NODES_PATH, index = False)

### - Now, for the edges...

#### Relate communties with cases

In theory, this would never change, so we shouldn't modify this cell too much...

In [30]:
import time

# Log time
start_time = time.time()

# Array to store the edges
edges_list = []

headers = ["EdgeID", "FromNodeID", "ToNodeID",
           "Property1", "Value1", 
           "Property2", "Value2", 
           "Property3", "Value3"]

# Get the communities satisfying a given criteria
communities_criteria = indicators_df[indicators_df['HARDSHIP INDEX'] > 50]

# We iterate over the whole dataset to associate all the cases.
for index, row in crimes_df.iterrows():
    if index % 500000 == 0:
        print("Reached row {} ...".format(index))
    
    crime_timestamp = format_timestamp(row['Date'])
    crime_start_time, crime_end_time = roundupdown(row['Date'])

    edges_list.append(
        [
            "OCURRED_IN", # EdgeID
            case_number_to_key(row['Case Number']), # FromNodeID (A case)
            community_to_key(row['Community Area']), # ToNodeID (A community)
            "StartTime", # Property1
            str(crime_start_time), # Value1. TODO: save start of period we should define
            "EndTime", # Property2
            str(crime_end_time), # Value2. TODO: save end of period we should define
            "Timestamp", # Property3
            str(crime_timestamp) # Value3
        ]
    )

pd.DataFrame(edges_list, columns = headers)

edges_df = pd.DataFrame(edges_list, columns = headers)

end_time = time.time()
print("Creation of edges data frame took {:.2f} sec".format(end_time - start_time))

edges_df

Reached row 0 ...
Reached row 500000 ...
Reached row 1000000 ...
Reached row 1500000 ...
Reached row 2000000 ...
Reached row 2500000 ...
Reached row 3000000 ...
Reached row 3500000 ...
Reached row 4000000 ...
Reached row 4500000 ...
Reached row 5000000 ...
Reached row 5500000 ...
Creation of edges data frame took 1133.97 sec

,EdgeID,FromNodeID,ToNodeID,Property1,Value1,Property2,Value2,Property3,Value3
0,OCURRED_IN,CASE_HY189866,C25,StartTime,2015-03-18 19:00:00,EndTime,2015-03-18 19:59:59,Timestamp,2015-03-18 19:44:00
1,OCURRED_IN,CASE_HY190059,C67,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
2,OCURRED_IN,CASE_HY190052,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
3,OCURRED_IN,CASE_HY190054,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:30:00
4,OCURRED_IN,CASE_HY189976,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
5,OCURRED_IN,CASE_HY190032,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
6,OCURRED_IN,CASE_HY190047,C68,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
7,OCURRED_IN,CASE_HY189988,C38,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:35:00
8,OCURRED_IN,CASE_HY190020,C59,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:09:00
9,OCURRED_IN,CASE_HY189964,C49,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:25:00
10,OCURRED_IN,CASE_HY189984,C54,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:30:00
11,OCURRED_IN,CASE_HY189719,C69,StartTime,2015-03-15 16:00:00,EndTime,2015-03-15 16:59:59,Timestamp,2015-03-15 16:10:00
12,OCURRED_IN,CASE_HY189966,C46,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:14:00
13,OCURRED_IN,CASE_HY190056,C28,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:50:00
14,OCURRED_IN,CASE_HY190019,C25,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:31:00
15,OCURRED_IN,CASE_HY189725,C43,StartTime,2015-03-18 12:00:00,EndTime,2015-03-18 12:59:59,Timestamp,2015-03-18 12:55:00
16,OCURRED_IN,CASE_HY190071,C24,StartTime,2015-03-18 20:00:00,EndTime,2015-03-18 20:59:59,Timestamp,2015-03-18 20:00:00
17,OCURRED_IN,CASE_HY190036,C67,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
18,OCURRED_IN,CASE_HY190063,C49,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:56:00
19,OCURRED_IN,CASE_HY190068,C48,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
20,OCURRED_IN,CASE_HY190031,C43,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
21,OCURRED_IN,CASE_HY190072,C77,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:55:00
22,OCURRED_IN,CASE_HY190073,C43,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:40:00
23,OCURRED_IN,CASE_HY189969,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:44:00
24,OCURRED_IN,CASE_HY190060,C31,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:30:00
25,OCURRED_IN,CASE_HY190035,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
26,OCURRED_IN,CASE_HY190027,C73,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:33:00
27,OCURRED_IN,CASE_HY190096,C71,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:20:00
28,OCURRED_IN,CASE_HY190003,C71,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:59:00
29,OCURRED_IN,CASE_HY190101,C51,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:28:00
...,...,...,...,...,...,...,...,...,...
5855625,OCURRED_IN,CASE_HX557982,C26,StartTime,2014-12-28 19:00:00,EndTime,2014-12-28 19:59:59,Timestamp,2014-12-28 19:15:00
5855626,OCURRED_IN,CASE_HX557984,C26,StartTime,2014-12-28 19:00:00,EndTime,2014-12-28 19:59:59,Timestamp,2014-12-28 19:40:00
5855627,OCURRED_IN,CASE_HY171695,C25,StartTime,2010-02-01 00:00:00,EndTime,2010-02-01 00:59:59,Timestamp,2010-02-01 00:01:00
5855628,OCURRED_IN,CASE_HY171649,C55,StartTime,2012-01-01 12:00:00,EndTime,2012-01-01 12:59:59,Timestamp,2012-01-01 12:00:00
5855629,OCURRED_IN,CASE_HY173580,C23,StartTime,2012-09-01 10:00:00,EndTime,2012-09-01 10:59:59,Timestamp,2012-09-01 10:00:00
5855630,OCURRED_IN,CASE_HX545863,C29,StartTime,2014-12-17 15:00:00,EndTime,2014-12-17 15:59:59,Timestamp,2014-12-17 15:40:00
5855631,OCURRED_IN,CASE_HX544738,C46,StartTime,2014-12-16 16:00:00,EndTime,2014-12-16 16:59:59,Timestamp,2014-12-16 16:19:00
5855632,OCURRED_IN,CASE_HX544391,C23,StartTime,2014-12-16 12:00:00,EndTime,2014-12-16 12:59:59,Timestamp,2014-12-16 12:12:00
5855633,OCURRED_IN,CASE_HX544706,C26,StartTime,2014-12-16 16:00:00,EndTime,2014-12-16 16:59:59,Timestamp,2014-12-16 16:15:00
5855634,OCURRED_IN,CASE_HX556514,C29,StartTime,2014-12-27 12:00:00,EndTime,2014-12-27 12:59:59,Timestamp,2014-12-27 12:20:00
5855635,OCURRED_IN,CASE_HX555632,C27,StartTime,2014-12-26 16:00:00,EndTime,2014-12-26 16:59:59,Timestamp,2014-12-26 16:17:00
5855636,OCURRED_IN,CASE_HX555859,C26,StartTime,2014-12-26 18:00:00,EndTime,2014-12-26 18:59:59,Timestamp,2014-12-26 18:55:00
5855637,OCURRED_IN,CASE_HY180702,C24,StartTime,2012-02-07 09:00:00,EndTime,2012-02-07 09:59:59,Timestamp,2012-02-07 09:00:00
5855638,OCURRED_IN,CASE_HY181602,C61,StartTime,2015-03-12 07:00:00,EndTime,2015-03-12 07:59:59,Timestamp,2015-03-12 07:00:00
5855639,OCURRED_IN,CASE_HY181590,C29,StartTime,2012-04-01 00:00:00,EndTime,2012-04-01 00:59:59,Timestamp,2012-04-01 00:01:00
5855640,OCURRED_IN,CASE_HY181917,C19,StartTime,2011-10-01 08:00:00,EndTime,2011-10-01 08:59:59,Timestamp,2011-10-01 08:00:00
5855641,OCURRED_IN,CASE_HY182409,C49,StartTime,2011-01-13 09:00:00,EndTime,2011-01-13 09:59:59,Timestamp,2011-01-13 09:00:00
5855642,OCURRED_IN,CASE_HY183199,C66,StartTime,2011-03-11 09:00:00,EndTime,2011-03-11 09:59:59,Timestamp,2011-03-11 09:00:00
5855643,OCURRED_IN,CASE_HY184103,C67,StartTime,2015-03-11 12:00:00,EndTime,2015-03-11 12:59:59,Timestamp,2015-03-11 12:00:00
5855644,OCURRED_IN,CASE_HY185287,C19,StartTime,2015-03-13 18:00:00,EndTime,2015-03-13 18:59:59,Timestamp,2015-03-13 18:00:00
5855645,OCURRED_IN,CASE_HY185342,C31,StartTime,2015-03-14 21:00:00,EndTime,2015-03-14 21:59:59,Timestamp,2015-03-14 21:00:00
5855646,OCURRED_IN,CASE_HY186607,C23,StartTime,2011-11-14 11:00:00,EndTime,2011-11-14 11:59:59,Timestamp,2011-11-14 11:44:00
5855647,OCURRED_IN,CASE_HY186808,C46,StartTime,2011-02-11 07:00:00,EndTime,2011-02-11 07:59:59,Timestamp,2011-02-11 07:00:00
5855648,OCURRED_IN,CASE_HY186992,C68,StartTime,2011-09-26 09:00:00,EndTime,2011-09-26 09:59:59,Timestamp,2011-09-26 09:00:00
5855649,OCURRED_IN,CASE_HY187880,C73,StartTime,2011-03-01 12:00:00,EndTime,2011-03-01 12:59:59,Timestamp,2011-03-01 12:00:00
5855650,OCURRED_IN,CASE_HY188050,C71,StartTime,2010-01-01 00:00:00,EndTime,2010-01-01 00:59:59,Timestamp,2010-01-01 00:00:00
5855651,OCURRED_IN,CASE_HY188115,C20,StartTime,2012-01-01 09:00:00,EndTime,2012-01-01 09:59:59,Timestamp,2012-01-01 09:00:00
5855652,OCURRED_IN,CASE_HY189325,C25,StartTime,2011-05-05 12:00:00,EndTime,2011-05-05 12:59:59,Timestamp,2011-05-05 12:00:00
5855653,OCURRED_IN,CASE_JB139324,C27,StartTime,2018-02-02 22:00:00,EndTime,2018-02-02 22:59:59,Timestamp,2018-02-02 22:25:00
5855654,OCURRED_IN,CASE_JB139300,C71,StartTime,2018-02-02 21:00:00,EndTime,2018-02-02 21:59:59,Timestamp,2018-02-02 21:51:00

#### Relate communities with categories (dangereous, poor, etc...)

In [31]:
# This cell appends the content. So, if you run it multiple times, you will add multiple times.
# Proceed carefully...

import time

# Log time
start_time = time.time()

# Get the communities satisfying a given criteria
# communities_criteria = indicators_df[indicators_df['HARDSHIP INDEX'] > 50]
communities_criteria = indicators_df

for index, row in communities_criteria.iterrows():
    edges_list.append(
        [
            "CONSIDERED", # EdgeID
            community_to_key(row['Community Area Number']), # FromNodeID (A community)
            "CR_DAN", # ToNodeID (A criteria node)
            "HardshipIndex", # Property1
            row['HARDSHIP INDEX'], # Value1
            np.NaN, # Property2
            np.NaN, # Value2
            np.NaN, # Property3
            np.NaN  # Value3
        ]
    )

edges_df = pd.DataFrame(edges_list, columns = headers)

end_time = time.time()
print("Append to edges data frame took {:.2f} sec".format(end_time - start_time))

edges_df

Append to edges data frame took 15.19 sec

,EdgeID,FromNodeID,ToNodeID,Property1,Value1,Property2,Value2,Property3,Value3
0,OCURRED_IN,CASE_HY189866,C25,StartTime,2015-03-18 19:00:00,EndTime,2015-03-18 19:59:59,Timestamp,2015-03-18 19:44:00
1,OCURRED_IN,CASE_HY190059,C67,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
2,OCURRED_IN,CASE_HY190052,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
3,OCURRED_IN,CASE_HY190054,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:30:00
4,OCURRED_IN,CASE_HY189976,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
5,OCURRED_IN,CASE_HY190032,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
6,OCURRED_IN,CASE_HY190047,C68,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
7,OCURRED_IN,CASE_HY189988,C38,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:35:00
8,OCURRED_IN,CASE_HY190020,C59,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:09:00
9,OCURRED_IN,CASE_HY189964,C49,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:25:00
10,OCURRED_IN,CASE_HY189984,C54,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:30:00
11,OCURRED_IN,CASE_HY189719,C69,StartTime,2015-03-15 16:00:00,EndTime,2015-03-15 16:59:59,Timestamp,2015-03-15 16:10:00
12,OCURRED_IN,CASE_HY189966,C46,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:14:00
13,OCURRED_IN,CASE_HY190056,C28,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:50:00
14,OCURRED_IN,CASE_HY190019,C25,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:31:00
15,OCURRED_IN,CASE_HY189725,C43,StartTime,2015-03-18 12:00:00,EndTime,2015-03-18 12:59:59,Timestamp,2015-03-18 12:55:00
16,OCURRED_IN,CASE_HY190071,C24,StartTime,2015-03-18 20:00:00,EndTime,2015-03-18 20:59:59,Timestamp,2015-03-18 20:00:00
17,OCURRED_IN,CASE_HY190036,C67,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
18,OCURRED_IN,CASE_HY190063,C49,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:56:00
19,OCURRED_IN,CASE_HY190068,C48,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
20,OCURRED_IN,CASE_HY190031,C43,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
21,OCURRED_IN,CASE_HY190072,C77,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:55:00
22,OCURRED_IN,CASE_HY190073,C43,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:40:00
23,OCURRED_IN,CASE_HY189969,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:44:00
24,OCURRED_IN,CASE_HY190060,C31,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:30:00
25,OCURRED_IN,CASE_HY190035,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
26,OCURRED_IN,CASE_HY190027,C73,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:33:00
27,OCURRED_IN,CASE_HY190096,C71,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:20:00
28,OCURRED_IN,CASE_HY190003,C71,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:59:00
29,OCURRED_IN,CASE_HY190101,C51,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:28:00
...,...,...,...,...,...,...,...,...,...
5855702,CONSIDERED,C48,CR_DAN,HardshipIndex,38,NaN,NaN,NaN,NaN
5855703,CONSIDERED,C49,CR_DAN,HardshipIndex,52,NaN,NaN,NaN,NaN
5855704,CONSIDERED,C50,CR_DAN,HardshipIndex,51,NaN,NaN,NaN,NaN
5855705,CONSIDERED,C51,CR_DAN,HardshipIndex,65,NaN,NaN,NaN,NaN
5855706,CONSIDERED,C52,CR_DAN,HardshipIndex,64,NaN,NaN,NaN,NaN
5855707,CONSIDERED,C53,CR_DAN,HardshipIndex,62,NaN,NaN,NaN,NaN
5855708,CONSIDERED,C54,CR_DAN,HardshipIndex,98,NaN,NaN,NaN,NaN
5855709,CONSIDERED,C55,CR_DAN,HardshipIndex,44,NaN,NaN,NaN,NaN
5855710,CONSIDERED,C56,CR_DAN,HardshipIndex,32,NaN,NaN,NaN,NaN
5855711,CONSIDERED,C57,CR_DAN,HardshipIndex,67,NaN,NaN,NaN,NaN
5855712,CONSIDERED,C58,CR_DAN,HardshipIndex,84,NaN,NaN,NaN,NaN
5855713,CONSIDERED,C59,CR_DAN,HardshipIndex,61,NaN,NaN,NaN,NaN
5855714,CONSIDERED,C60,CR_DAN,HardshipIndex,43,NaN,NaN,NaN,NaN
5855715,CONSIDERED,C61,CR_DAN,HardshipIndex,91,NaN,NaN,NaN,NaN
5855716,CONSIDERED,C62,CR_DAN,HardshipIndex,69,NaN,NaN,NaN,NaN
5855717,CONSIDERED,C63,CR_DAN,HardshipIndex,93,NaN,NaN,NaN,NaN
5855718,CONSIDERED,C64,CR_DAN,HardshipIndex,29,NaN,NaN,NaN,NaN
5855719,CONSIDERED,C65,CR_DAN,HardshipIndex,56,NaN,NaN,NaN,NaN
5855720,CONSIDERED,C66,CR_DAN,HardshipIndex,80,NaN,NaN,NaN,NaN
5855721,CONSIDERED,C67,CR_DAN,HardshipIndex,89,NaN,NaN,NaN,NaN
5855722,CONSIDERED,C68,CR_DAN,HardshipIndex,94,NaN,NaN,NaN,NaN
5855723,CONSIDERED,C69,CR_DAN,HardshipIndex,66,NaN,NaN,NaN,NaN
5855724,CONSIDERED,C70,CR_DAN,HardshipIndex,37,NaN,NaN,NaN,NaN
5855725,CONSIDERED,C71,CR_DAN,HardshipIndex,74,NaN,NaN,NaN,NaN
5855726,CONSIDERED,C72,CR_DAN,HardshipIndex,12,NaN,NaN,NaN,NaN
5855727,CONSIDERED,C73,CR_DAN,HardshipIndex,48,NaN,NaN,NaN,NaN
5855728,CONSIDERED,C74,CR_DAN,HardshipIndex,16,NaN,NaN,NaN,NaN
5855729,CONSIDERED,C75,CR_DAN,HardshipIndex,30,NaN,NaN,NaN,NaN
5855730,CONSIDERED,C76,CR_DAN,HardshipIndex,24,NaN,NaN,NaN,NaN
5855731,CONSIDERED,C77,CR_DAN,HardshipIndex,19,NaN,NaN,NaN,NaN

#### Relate CrymeType with the communities, by temporality and strength

In [32]:
import time

# Log time
start_time = time.time()

all_years = crimes_df['Year'].unique()
print("Original", all_years, "has", crimes_df.shape[0], "items")

for year in all_years:
    # Subset for a given year
    subset = crimes_df.loc[crimes_df['Year'] == year]
    # Get statistics for the crime types by community area, for the current subset
    grouped = subset.groupby(['Community Area', 'Primary Type']).count()[['ID']]
    # This will give us the total number of crimes per community in the subset
    sum_communities = grouped.sum(level = 'Community Area')

    # Iterate each community in the year
    for community, total_crimes in sum_communities.iterrows():
        # Number of crimes in a community for the current year
        n_year_community = total_crimes[0] 
#         print("\n\nIndex:", index, "has total", total[0])
        for crime_type, count in grouped.loc[community].iterrows():
            edges_list.append(
                [
                    "HAS_OCURRENCES_OF", # EdgeID
                    community_to_key(community), # FromNodeID (A community)
                    crime_type_to_key(crime_type), # ToNodeID (A crime type)
                    "Strength", # Property1
                    count['ID']/n_year_community, # Value1
                    "StartTime", # Property2
                    "{}-01-01 00:00:00".format(year), # Value2
                    "EndTime", # Property3
                    "{}-12-31 23:59:59".format(year)  # Value3
                ]
            )


edges_df = pd.DataFrame(edges_list, columns = headers)

end_time = time.time()
print("Append to edges data frame took {:.2f} sec".format(end_time - start_time))

edges_df

Original [2015 2014 2008 2001 2016 2017 2006 2013 2009 2018 2011 2007 2010 2002 2012
 2003 2005 2004] has 5855655 items
Append to edges data frame took 19.60 sec

,EdgeID,FromNodeID,ToNodeID,Property1,Value1,Property2,Value2,Property3,Value3
0,OCURRED_IN,CASE_HY189866,C25,StartTime,2015-03-18 19:00:00,EndTime,2015-03-18 19:59:59,Timestamp,2015-03-18 19:44:00
1,OCURRED_IN,CASE_HY190059,C67,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
2,OCURRED_IN,CASE_HY190052,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
3,OCURRED_IN,CASE_HY190054,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:30:00
4,OCURRED_IN,CASE_HY189976,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
5,OCURRED_IN,CASE_HY190032,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
6,OCURRED_IN,CASE_HY190047,C68,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
7,OCURRED_IN,CASE_HY189988,C38,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:35:00
8,OCURRED_IN,CASE_HY190020,C59,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:09:00
9,OCURRED_IN,CASE_HY189964,C49,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:25:00
10,OCURRED_IN,CASE_HY189984,C54,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:30:00
11,OCURRED_IN,CASE_HY189719,C69,StartTime,2015-03-15 16:00:00,EndTime,2015-03-15 16:59:59,Timestamp,2015-03-15 16:10:00
12,OCURRED_IN,CASE_HY189966,C46,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:14:00
13,OCURRED_IN,CASE_HY190056,C28,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:50:00
14,OCURRED_IN,CASE_HY190019,C25,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:31:00
15,OCURRED_IN,CASE_HY189725,C43,StartTime,2015-03-18 12:00:00,EndTime,2015-03-18 12:59:59,Timestamp,2015-03-18 12:55:00
16,OCURRED_IN,CASE_HY190071,C24,StartTime,2015-03-18 20:00:00,EndTime,2015-03-18 20:59:59,Timestamp,2015-03-18 20:00:00
17,OCURRED_IN,CASE_HY190036,C67,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
18,OCURRED_IN,CASE_HY190063,C49,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:56:00
19,OCURRED_IN,CASE_HY190068,C48,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
20,OCURRED_IN,CASE_HY190031,C43,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
21,OCURRED_IN,CASE_HY190072,C77,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:55:00
22,OCURRED_IN,CASE_HY190073,C43,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:40:00
23,OCURRED_IN,CASE_HY189969,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:44:00
24,OCURRED_IN,CASE_HY190060,C31,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:30:00
25,OCURRED_IN,CASE_HY190035,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
26,OCURRED_IN,CASE_HY190027,C73,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:33:00
27,OCURRED_IN,CASE_HY190096,C71,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:20:00
28,OCURRED_IN,CASE_HY190003,C71,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:59:00
29,OCURRED_IN,CASE_HY190101,C51,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:28:00
...,...,...,...,...,...,...,...,...,...
5886983,HAS_OCURRENCES_OF,C76,CT_SEX_OFFENSE,Strength,0.00336538,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886984,HAS_OCURRENCES_OF,C76,CT_STALKING,Strength,0.000961538,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886985,HAS_OCURRENCES_OF,C76,CT_THEFT,Strength,0.330288,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886986,HAS_OCURRENCES_OF,C76,CT_WEAPONS_VIOLATION,Strength,0.00817308,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886987,HAS_OCURRENCES_OF,C77,CT_ARSON,Strength,0.000409836,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886988,HAS_OCURRENCES_OF,C77,CT_ASSAULT,Strength,0.0512295,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886989,HAS_OCURRENCES_OF,C77,CT_BATTERY,Strength,0.156352,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886990,HAS_OCURRENCES_OF,C77,CT_BURGLARY,Strength,0.0602459,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886991,HAS_OCURRENCES_OF,C77,CT_CRIM_SEXUAL_ASSAULT,Strength,0.00204918,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886992,HAS_OCURRENCES_OF,C77,CT_CRIMINAL_DAMAGE,Strength,0.125205,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886993,HAS_OCURRENCES_OF,C77,CT_CRIMINAL_TRESPASS,Strength,0.0303279,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886994,HAS_OCURRENCES_OF,C77,CT_DECEPTIVE_PRACTICE,Strength,0.0438525,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886995,HAS_OCURRENCES_OF,C77,CT_GAMBLING,Strength,0.00143443,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886996,HAS_OCURRENCES_OF,C77,CT_HOMICIDE,Strength,0.000614754,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886997,HAS_OCURRENCES_OF,C77,CT_INTERFERENCE_WITH_PUBLIC_OFFICER,Strength,0.000819672,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886998,HAS_OCURRENCES_OF,C77,CT_INTIMIDATION,Strength,0.000614754,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5886999,HAS_OCURRENCES_OF,C77,CT_KIDNAPPING,Strength,0.00143443,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887000,HAS_OCURRENCES_OF,C77,CT_LIQUOR_LAW_VIOLATION,Strength,0.00389344,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887001,HAS_OCURRENCES_OF,C77,CT_MOTOR_VEHICLE_THEFT,Strength,0.0338115,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887002,HAS_OCURRENCES_OF,C77,CT_NARCOTICS,Strength,0.0604508,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887003,HAS_OCURRENCES_OF,C77,CT_OFFENSE_INVOLVING_CHILDREN,Strength,0.00758197,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887004,HAS_OCURRENCES_OF,C77,CT_OTHER_NARCOTIC_VIOLATION,Strength,0.000204918,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887005,HAS_OCURRENCES_OF,C77,CT_OTHER_OFFENSE,Strength,0.0881148,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887006,HAS_OCURRENCES_OF,C77,CT_PROSTITUTION,Strength,0.00758197,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887007,HAS_OCURRENCES_OF,C77,CT_PUBLIC_PEACE_VIOLATION,Strength,0.0108607,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887008,HAS_OCURRENCES_OF,C77,CT_ROBBERY,Strength,0.0397541,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887009,HAS_OCURRENCES_OF,C77,CT_SEX_OFFENSE,Strength,0.00512295,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887010,HAS_OCURRENCES_OF,C77,CT_STALKING,Strength,0.000819672,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887011,HAS_OCURRENCES_OF,C77,CT_THEFT,Strength,0.264754,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59
5887012,HAS_OCURRENCES_OF,C77,CT_WEAPONS_VIOLATION,Strength,0.00245902,StartTime,2004-01-01 00:00:00,EndTime,2004-12-31 23:59:59

#### Now we include the compliant nodes

In [33]:
# This cell appends the content. So, if you run it multiple times, you will add multiple times.
# Proceed carefully...

import time
#edges_list_2 = edges_list.copy()
# edges_list_2 = []

# Log time
start_time = time.time()

headers = ["EdgeID", "FromNodeID", "ToNodeID",
           "Property1", "Value1", 
           "Property2", "Value2", 
           "Property3", "Value3"]

all_years = crimes_df['Year'].unique()

for year in all_years:
#     print(year)

    grouped = crimes_df[crimes_df['Year'] == year].groupby(['Community Area', 'Arrest']).count()[['ID']]
    # grouped

    flag = False
    false_count = 0
    true_count = 0
    rates = []
    for index, row in grouped.iterrows():
        if flag: # Meaning is the count for "true"
            true_count = row['ID']
            rate = true_count/(true_count + false_count)
    #         if rate >= 0.240443:
    #             print("Community {}. T vs F: {}-{}. Rate: {}".format(index[0], true_count, false_count, rate ))
            edges_list.append(
                [
                    "CONSIDERED", # EdgeID
                    community_to_key(index[0]), # FromNodeID (A community)
                    "CR_CMP", # ToNodeID (A crime type)
                    "Rate", # Property1
                    rate, # Value1
                    "Year", # Property2
                    year, # Value2
                    np.NaN, # Property3
                    np.NaN  # Value3
                ]
            )

    #         rates.append(rate)
        else:
            false_count = row['ID']
        flag = not flag


edges_df = pd.DataFrame(edges_list, columns = headers)

end_time = time.time()
print("Append to edges data frame took {:.2f} sec".format(end_time - start_time))

edges_df

Append to edges data frame took 14.75 sec

,EdgeID,FromNodeID,ToNodeID,Property1,Value1,Property2,Value2,Property3,Value3
0,OCURRED_IN,CASE_HY189866,C25,StartTime,2015-03-18 19:00:00,EndTime,2015-03-18 19:59:59,Timestamp,2015-03-18 19:44:00
1,OCURRED_IN,CASE_HY190059,C67,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
2,OCURRED_IN,CASE_HY190052,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
3,OCURRED_IN,CASE_HY190054,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:30:00
4,OCURRED_IN,CASE_HY189976,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
5,OCURRED_IN,CASE_HY190032,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
6,OCURRED_IN,CASE_HY190047,C68,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
7,OCURRED_IN,CASE_HY189988,C38,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:35:00
8,OCURRED_IN,CASE_HY190020,C59,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:09:00
9,OCURRED_IN,CASE_HY189964,C49,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:25:00
10,OCURRED_IN,CASE_HY189984,C54,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:30:00
11,OCURRED_IN,CASE_HY189719,C69,StartTime,2015-03-15 16:00:00,EndTime,2015-03-15 16:59:59,Timestamp,2015-03-15 16:10:00
12,OCURRED_IN,CASE_HY189966,C46,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:14:00
13,OCURRED_IN,CASE_HY190056,C28,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:50:00
14,OCURRED_IN,CASE_HY190019,C25,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:31:00
15,OCURRED_IN,CASE_HY189725,C43,StartTime,2015-03-18 12:00:00,EndTime,2015-03-18 12:59:59,Timestamp,2015-03-18 12:55:00
16,OCURRED_IN,CASE_HY190071,C24,StartTime,2015-03-18 20:00:00,EndTime,2015-03-18 20:59:59,Timestamp,2015-03-18 20:00:00
17,OCURRED_IN,CASE_HY190036,C67,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
18,OCURRED_IN,CASE_HY190063,C49,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:56:00
19,OCURRED_IN,CASE_HY190068,C48,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
20,OCURRED_IN,CASE_HY190031,C43,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
21,OCURRED_IN,CASE_HY190072,C77,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:55:00
22,OCURRED_IN,CASE_HY190073,C43,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:40:00
23,OCURRED_IN,CASE_HY189969,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:44:00
24,OCURRED_IN,CASE_HY190060,C31,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:30:00
25,OCURRED_IN,CASE_HY190035,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
26,OCURRED_IN,CASE_HY190027,C73,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:33:00
27,OCURRED_IN,CASE_HY190096,C71,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:20:00
28,OCURRED_IN,CASE_HY190003,C71,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:59:00
29,OCURRED_IN,CASE_HY190101,C51,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:28:00
...,...,...,...,...,...,...,...,...,...
5888364,CONSIDERED,C48,CR_CMP,Rate,0.206312,Year,2004,NaN,NaN
5888365,CONSIDERED,C49,CR_CMP,Rate,0.298368,Year,2004,NaN,NaN
5888366,CONSIDERED,C50,CR_CMP,Rate,0.191423,Year,2004,NaN,NaN
5888367,CONSIDERED,C51,CR_CMP,Rate,0.224521,Year,2004,NaN,NaN
5888368,CONSIDERED,C52,CR_CMP,Rate,0.190337,Year,2004,NaN,NaN
5888369,CONSIDERED,C53,CR_CMP,Rate,0.286951,Year,2004,NaN,NaN
5888370,CONSIDERED,C54,CR_CMP,Rate,0.259111,Year,2004,NaN,NaN
5888371,CONSIDERED,C55,CR_CMP,Rate,0.193353,Year,2004,NaN,NaN
5888372,CONSIDERED,C56,CR_CMP,Rate,0.26859,Year,2004,NaN,NaN
5888373,CONSIDERED,C57,CR_CMP,Rate,0.211514,Year,2004,NaN,NaN
5888374,CONSIDERED,C58,CR_CMP,Rate,0.289087,Year,2004,NaN,NaN
5888375,CONSIDERED,C59,CR_CMP,Rate,0.216386,Year,2004,NaN,NaN
5888376,CONSIDERED,C60,CR_CMP,Rate,0.216442,Year,2004,NaN,NaN
5888377,CONSIDERED,C61,CR_CMP,Rate,0.368139,Year,2004,NaN,NaN
5888378,CONSIDERED,C62,CR_CMP,Rate,0.230679,Year,2004,NaN,NaN
5888379,CONSIDERED,C63,CR_CMP,Rate,0.28354,Year,2004,NaN,NaN
5888380,CONSIDERED,C64,CR_CMP,Rate,0.158005,Year,2004,NaN,NaN
5888381,CONSIDERED,C65,CR_CMP,Rate,0.261985,Year,2004,NaN,NaN
5888382,CONSIDERED,C66,CR_CMP,Rate,0.28378,Year,2004,NaN,NaN
5888383,CONSIDERED,C67,CR_CMP,Rate,0.354979,Year,2004,NaN,NaN
5888384,CONSIDERED,C68,CR_CMP,Rate,0.334528,Year,2004,NaN,NaN
5888385,CONSIDERED,C69,CR_CMP,Rate,0.309532,Year,2004,NaN,NaN
5888386,CONSIDERED,C70,CR_CMP,Rate,0.173979,Year,2004,NaN,NaN
5888387,CONSIDERED,C71,CR_CMP,Rate,0.259725,Year,2004,NaN,NaN
5888388,CONSIDERED,C72,CR_CMP,Rate,0.149511,Year,2004,NaN,NaN
5888389,CONSIDERED,C73,CR_CMP,Rate,0.235858,Year,2004,NaN,NaN
5888390,CONSIDERED,C74,CR_CMP,Rate,0.196347,Year,2004,NaN,NaN
5888391,CONSIDERED,C75,CR_CMP,Rate,0.25566,Year,2004,NaN,NaN
5888392,CONSIDERED,C76,CR_CMP,Rate,0.296154,Year,2004,NaN,NaN
5888393,CONSIDERED,C77,CR_CMP,Rate,0.277869,Year,2004,NaN,NaN

#### - This is for the cases to crime relationship

In [34]:
headers = ["EdgeID", "FromNodeID", "ToNodeID",
           "Property1", "Value1", 
           "Property2", "Value2", 
           "Property3", "Value3"]

start_time = time.time()

# For case numbers
for index, row in crimes_df.iterrows():
    edges_list.append(
        [
            "IS_OF_TYPE", # EdgeID
            case_number_to_key(row['Case Number']), # FromNodeID (A community)
            crime_type_to_key(row['Primary Type']), # ToNodeID (A crime type)
            np.NaN, # Property1
            np.NaN, # Value1
            np.NaN, # Property2
            np.NaN, # Value2
            np.NaN, # Property3
            np.NaN  # Value3
        ]
    )

edges_df = pd.DataFrame(edges_list, columns = headers)

end_time = time.time()
print("Append to edges data frame took {:.2f} sec".format(end_time - start_time))

edges_df

Append to edges data frame took 654.78 sec

,EdgeID,FromNodeID,ToNodeID,Property1,Value1,Property2,Value2,Property3,Value3
0,OCURRED_IN,CASE_HY189866,C25,StartTime,2015-03-18 19:00:00,EndTime,2015-03-18 19:59:59,Timestamp,2015-03-18 19:44:00
1,OCURRED_IN,CASE_HY190059,C67,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
2,OCURRED_IN,CASE_HY190052,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
3,OCURRED_IN,CASE_HY190054,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:30:00
4,OCURRED_IN,CASE_HY189976,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
5,OCURRED_IN,CASE_HY190032,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
6,OCURRED_IN,CASE_HY190047,C68,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
7,OCURRED_IN,CASE_HY189988,C38,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:35:00
8,OCURRED_IN,CASE_HY190020,C59,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:09:00
9,OCURRED_IN,CASE_HY189964,C49,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:25:00
10,OCURRED_IN,CASE_HY189984,C54,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:30:00
11,OCURRED_IN,CASE_HY189719,C69,StartTime,2015-03-15 16:00:00,EndTime,2015-03-15 16:59:59,Timestamp,2015-03-15 16:10:00
12,OCURRED_IN,CASE_HY189966,C46,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:14:00
13,OCURRED_IN,CASE_HY190056,C28,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:50:00
14,OCURRED_IN,CASE_HY190019,C25,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:31:00
15,OCURRED_IN,CASE_HY189725,C43,StartTime,2015-03-18 12:00:00,EndTime,2015-03-18 12:59:59,Timestamp,2015-03-18 12:55:00
16,OCURRED_IN,CASE_HY190071,C24,StartTime,2015-03-18 20:00:00,EndTime,2015-03-18 20:59:59,Timestamp,2015-03-18 20:00:00
17,OCURRED_IN,CASE_HY190036,C67,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
18,OCURRED_IN,CASE_HY190063,C49,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:56:00
19,OCURRED_IN,CASE_HY190068,C48,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
20,OCURRED_IN,CASE_HY190031,C43,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
21,OCURRED_IN,CASE_HY190072,C77,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:55:00
22,OCURRED_IN,CASE_HY190073,C43,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:40:00
23,OCURRED_IN,CASE_HY189969,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:44:00
24,OCURRED_IN,CASE_HY190060,C31,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:30:00
25,OCURRED_IN,CASE_HY190035,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
26,OCURRED_IN,CASE_HY190027,C73,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:33:00
27,OCURRED_IN,CASE_HY190096,C71,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:20:00
28,OCURRED_IN,CASE_HY190003,C71,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:59:00
29,OCURRED_IN,CASE_HY190101,C51,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:28:00
...,...,...,...,...,...,...,...,...,...
11744019,IS_OF_TYPE,CASE_HX557982,CT_NARCOTICS,NaN,NaN,NaN,NaN,NaN,NaN
11744020,IS_OF_TYPE,CASE_HX557984,CT_NARCOTICS,NaN,NaN,NaN,NaN,NaN,NaN
11744021,IS_OF_TYPE,CASE_HY171695,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744022,IS_OF_TYPE,CASE_HY171649,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744023,IS_OF_TYPE,CASE_HY173580,CT_CRIM_SEXUAL_ASSAULT,NaN,NaN,NaN,NaN,NaN,NaN
11744024,IS_OF_TYPE,CASE_HX545863,CT_NARCOTICS,NaN,NaN,NaN,NaN,NaN,NaN
11744025,IS_OF_TYPE,CASE_HX544738,CT_NARCOTICS,NaN,NaN,NaN,NaN,NaN,NaN
11744026,IS_OF_TYPE,CASE_HX544391,CT_NARCOTICS,NaN,NaN,NaN,NaN,NaN,NaN
11744027,IS_OF_TYPE,CASE_HX544706,CT_NARCOTICS,NaN,NaN,NaN,NaN,NaN,NaN
11744028,IS_OF_TYPE,CASE_HX556514,CT_NARCOTICS,NaN,NaN,NaN,NaN,NaN,NaN
11744029,IS_OF_TYPE,CASE_HX555632,CT_NARCOTICS,NaN,NaN,NaN,NaN,NaN,NaN
11744030,IS_OF_TYPE,CASE_HX555859,CT_NARCOTICS,NaN,NaN,NaN,NaN,NaN,NaN
11744031,IS_OF_TYPE,CASE_HY180702,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744032,IS_OF_TYPE,CASE_HY181602,CT_CRIMINAL_DAMAGE,NaN,NaN,NaN,NaN,NaN,NaN
11744033,IS_OF_TYPE,CASE_HY181590,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744034,IS_OF_TYPE,CASE_HY181917,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744035,IS_OF_TYPE,CASE_HY182409,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744036,IS_OF_TYPE,CASE_HY183199,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744037,IS_OF_TYPE,CASE_HY184103,CT_THEFT,NaN,NaN,NaN,NaN,NaN,NaN
11744038,IS_OF_TYPE,CASE_HY185287,CT_ASSAULT,NaN,NaN,NaN,NaN,NaN,NaN
11744039,IS_OF_TYPE,CASE_HY185342,CT_CRIMINAL_DAMAGE,NaN,NaN,NaN,NaN,NaN,NaN
11744040,IS_OF_TYPE,CASE_HY186607,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744041,IS_OF_TYPE,CASE_HY186808,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744042,IS_OF_TYPE,CASE_HY186992,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744043,IS_OF_TYPE,CASE_HY187880,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744044,IS_OF_TYPE,CASE_HY188050,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744045,IS_OF_TYPE,CASE_HY188115,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744046,IS_OF_TYPE,CASE_HY189325,CT_DECEPTIVE_PRACTICE,NaN,NaN,NaN,NaN,NaN,NaN
11744047,IS_OF_TYPE,CASE_JB139324,CT_HOMICIDE,NaN,NaN,NaN,NaN,NaN,NaN
11744048,IS_OF_TYPE,CASE_JB139300,CT_HOMICIDE,NaN,NaN,NaN,NaN,NaN,NaN

#### - For cases and locations

In [35]:
headers = ["EdgeID", "FromNodeID", "ToNodeID",
           "Property1", "Value1", 
           "Property2", "Value2", 
           "Property3", "Value3"]

start_time = time.time()

locations = crimes_df['Location Description'].unique()
locations = np.sort(locations)

# For case numbers
for index, row in crimes_df.iterrows():
    edges_list.append(
        [
            "LOCATION_TYPE", # EdgeID
            case_number_to_key(row['Case Number']), # FromNodeID (A community)
            location_to_key(np.where(locations == row['Location Description'])[0][0]), # ToNodeID (A crime type)
            np.NaN, # Property1
            np.NaN, # Value1
            np.NaN, # Property2
            np.NaN, # Value2
            np.NaN, # Property3
            np.NaN  # Value3
        ]
    )


edges_df = pd.DataFrame(edges_list, columns = headers)

end_time = time.time()
print("Append to edges data frame took {:.2f} sec".format(end_time - start_time))

edges_df

Append to edges data frame took 1008.96 sec

,EdgeID,FromNodeID,ToNodeID,Property1,Value1,Property2,Value2,Property3,Value3
0,OCURRED_IN,CASE_HY189866,C25,StartTime,2015-03-18 19:00:00,EndTime,2015-03-18 19:59:59,Timestamp,2015-03-18 19:44:00
1,OCURRED_IN,CASE_HY190059,C67,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
2,OCURRED_IN,CASE_HY190052,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
3,OCURRED_IN,CASE_HY190054,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:30:00
4,OCURRED_IN,CASE_HY189976,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
5,OCURRED_IN,CASE_HY190032,C39,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
6,OCURRED_IN,CASE_HY190047,C68,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:00:00
7,OCURRED_IN,CASE_HY189988,C38,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:35:00
8,OCURRED_IN,CASE_HY190020,C59,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:09:00
9,OCURRED_IN,CASE_HY189964,C49,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:25:00
10,OCURRED_IN,CASE_HY189984,C54,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:30:00
11,OCURRED_IN,CASE_HY189719,C69,StartTime,2015-03-15 16:00:00,EndTime,2015-03-15 16:59:59,Timestamp,2015-03-15 16:10:00
12,OCURRED_IN,CASE_HY189966,C46,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:14:00
13,OCURRED_IN,CASE_HY190056,C28,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:50:00
14,OCURRED_IN,CASE_HY190019,C25,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:31:00
15,OCURRED_IN,CASE_HY189725,C43,StartTime,2015-03-18 12:00:00,EndTime,2015-03-18 12:59:59,Timestamp,2015-03-18 12:55:00
16,OCURRED_IN,CASE_HY190071,C24,StartTime,2015-03-18 20:00:00,EndTime,2015-03-18 20:59:59,Timestamp,2015-03-18 20:00:00
17,OCURRED_IN,CASE_HY190036,C67,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:00:00
18,OCURRED_IN,CASE_HY190063,C49,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:56:00
19,OCURRED_IN,CASE_HY190068,C48,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
20,OCURRED_IN,CASE_HY190031,C43,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:00:00
21,OCURRED_IN,CASE_HY190072,C77,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:55:00
22,OCURRED_IN,CASE_HY190073,C43,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:40:00
23,OCURRED_IN,CASE_HY189969,C25,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:44:00
24,OCURRED_IN,CASE_HY190060,C31,StartTime,2015-03-18 23:00:00,EndTime,2015-03-18 23:59:59,Timestamp,2015-03-18 23:30:00
25,OCURRED_IN,CASE_HY190035,C40,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:45:00
26,OCURRED_IN,CASE_HY190027,C73,StartTime,2015-03-18 22:00:00,EndTime,2015-03-18 22:59:59,Timestamp,2015-03-18 22:33:00
27,OCURRED_IN,CASE_HY190096,C71,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:20:00
28,OCURRED_IN,CASE_HY190003,C71,StartTime,2015-03-18 21:00:00,EndTime,2015-03-18 21:59:59,Timestamp,2015-03-18 21:59:00
29,OCURRED_IN,CASE_HY190101,C51,StartTime,2015-03-19 01:00:00,EndTime,2015-03-19 01:59:59,Timestamp,2015-03-19 01:28:00
...,...,...,...,...,...,...,...,...,...
17599674,LOCATION_TYPE,CASE_HX557982,LOC148,NaN,NaN,NaN,NaN,NaN,NaN
17599675,LOCATION_TYPE,CASE_HX557984,LOC148,NaN,NaN,NaN,NaN,NaN,NaN
17599676,LOCATION_TYPE,CASE_HY171695,LOC17,NaN,NaN,NaN,NaN,NaN,NaN
17599677,LOCATION_TYPE,CASE_HY171649,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599678,LOCATION_TYPE,CASE_HY173580,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599679,LOCATION_TYPE,CASE_HX545863,LOC133,NaN,NaN,NaN,NaN,NaN,NaN
17599680,LOCATION_TYPE,CASE_HX544738,LOC165,NaN,NaN,NaN,NaN,NaN,NaN
17599681,LOCATION_TYPE,CASE_HX544391,LOC148,NaN,NaN,NaN,NaN,NaN,NaN
17599682,LOCATION_TYPE,CASE_HX544706,LOC165,NaN,NaN,NaN,NaN,NaN,NaN
17599683,LOCATION_TYPE,CASE_HX556514,LOC165,NaN,NaN,NaN,NaN,NaN,NaN
17599684,LOCATION_TYPE,CASE_HX555632,LOC133,NaN,NaN,NaN,NaN,NaN,NaN
17599685,LOCATION_TYPE,CASE_HX555859,LOC148,NaN,NaN,NaN,NaN,NaN,NaN
17599686,LOCATION_TYPE,CASE_HY180702,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599687,LOCATION_TYPE,CASE_HY181602,LOC122,NaN,NaN,NaN,NaN,NaN,NaN
17599688,LOCATION_TYPE,CASE_HY181590,LOC17,NaN,NaN,NaN,NaN,NaN,NaN
17599689,LOCATION_TYPE,CASE_HY181917,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599690,LOCATION_TYPE,CASE_HY182409,LOC17,NaN,NaN,NaN,NaN,NaN,NaN
17599691,LOCATION_TYPE,CASE_HY183199,LOC152,NaN,NaN,NaN,NaN,NaN,NaN
17599692,LOCATION_TYPE,CASE_HY184103,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599693,LOCATION_TYPE,CASE_HY185287,LOC152,NaN,NaN,NaN,NaN,NaN,NaN
17599694,LOCATION_TYPE,CASE_HY185342,LOC152,NaN,NaN,NaN,NaN,NaN,NaN
17599695,LOCATION_TYPE,CASE_HY186607,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599696,LOCATION_TYPE,CASE_HY186808,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599697,LOCATION_TYPE,CASE_HY186992,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599698,LOCATION_TYPE,CASE_HY187880,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599699,LOCATION_TYPE,CASE_HY188050,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599700,LOCATION_TYPE,CASE_HY188115,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599701,LOCATION_TYPE,CASE_HY189325,LOC132,NaN,NaN,NaN,NaN,NaN,NaN
17599702,LOCATION_TYPE,CASE_JB139324,LOC97,NaN,NaN,NaN,NaN,NaN,NaN
17599703,LOCATION_TYPE,CASE_JB139300,LOC99,NaN,NaN,NaN,NaN,NaN,NaN

#### - Old code. DO NOT REMOVE NOR RE-EXECUTE.

In [47]:
# Old code, do not remove nor re-execute.
pd.DataFrame(rates).describe()

               0
count  77.000000
mean    0.245826
std     0.071050
min     0.115959
25%     0.194718
50%     0.240443
75%     0.280778
max     0.453269

In [36]:
# Save edges for further usage
if REDUCED_FILE:
    DATASET_EDGES_PATH = DATASETS_LOCATION + "/timewise_edges_reduced.csv"
else:
    DATASET_EDGES_PATH = DATASETS_LOCATION + "/timewise_edges.csv"

edges_df.to_csv(DATASET_EDGES_PATH, index = False)

### Create aux community areas csv

In [25]:
# Loading from absolute path, because the dataset is too big to download and to upload

DATASET_COM_AREAS_PATH = DATASETS_LOCATION + "/chicago_community_areas.csv"

# Load CSVs
comar_df = pd.read_csv(DATASET_COM_AREAS_PATH)
comar_df

   CommunityNumber           CommunityName   Latitude  Longitude
0               C1             ROGERS PARK  42.003801 -87.657651
1               C2              WEST RIDGE  41.992071 -87.675487
2               C3                  UPTOWN  41.961609 -87.655370
3               C4          LINCOLN SQUARE  41.968913 -87.674871
4               C5            NORTH CENTER  41.954342 -87.674439
5               C6               LAKE VIEW   41.94737 -87.654465
6               C7            LINCOLN PARK  41.917967 -87.653438
7               C8         NEAR NORTH SIDE  41.893974 -87.627945
8               C9             EDISON PARK  41.997185 -87.807251
9              C10            NORWOOD PARK  42.011557 -87.817870
10             C11          JEFFERSON PARK  41.974605 -87.811817
11             C12             FOREST GLEN   41.96784 -87.767441
12             C13              NORTH PARK  41.990214 -87.733479
13             C14             ALBANY PARK  41.975852 -87.706370
14             C15            PORTAGE PARK  41.961451 -87.696929
15             C16             IRVING PARK  41.938749 -87.761451
16             C17                 DUNNING  41.959528 -87.698606
17             C18               MONTCLARE  41.938764 -87.806595
18             C19          BELMONT CRAGIN  41.924516 -87.806212
19             C20                 HERMOSA  41.916967 -87.782607
20             C21                AVONDALE  41.921786 -87.739089
21             C22            LOGAN SQUARE  41.937633 -87.693190
22             C23           HUMBOLDT PARK  41.917349 -87.666405
23             C24               WEST TOWN  41.901438 -87.726428
24             C25                  AUSTIN  41.899386 -87.696928
25             C26      WEST GARFIELD PARK  41.882286 -87.764980
26             C27      EAST GARFIELD PARK  41.880839 -87.727945
27             C28          NEAR WEST SIDE  41.880745 -87.706283
28             C29          NORTH LAWNDALE  41.881643 -87.647206
29             C30          SOUTH LAWNDALE  41.867831 -87.710387
..             ...                     ...        ...        ...
47             C48         CALUMET HEIGHTS  41.733062 -87.589725
48             C49                ROSELAND  41.711548 -87.620169
49             C50                 PULLMAN  41.712854 -87.592270
50             C51           SOUTH DEERING   41.70838 -87.581455
51             C52               EAST SIDE  41.712353 -87.535450
52             C53            WEST PULLMAN  41.672371 -87.649842
53             C54               RIVERDALE  41.659014 -87.610723
54             C55               HEGEWISCH  41.681136 -87.540290
55             C56          GARFIELD RIDGE  41.785894 -87.738031
56             C57          ARCHER HEIGHTS  41.807749 -87.722579
57             C58           BRIGHTON PARK   41.80766 -87.685081
58             C59           MCKINLEY PARK  41.823324 -87.659951
59             C60              BRIDGEPORT  41.830539 -87.651757
60             C61                NEW CITY   41.80859 -87.656100
61             C62             WEST ELSDON  41.792507 -87.716436
62             C63               GAGE PARK   41.80193 -87.680903
63             C64                CLEARING  41.775271 -87.751894
64             C65               WEST LAWN  41.777732 -87.713878
65             C66            CHICAGO LAWN  41.764585 -87.682253
66             C67          WEST ENGLEWOOD  41.788541 -87.656210
67             C68               ENGLEWOOD  41.759532 -87.649910
68             C69  GREATER GRAND CROSSING  41.757695 -87.599148
69             C70                 ASHBURN  41.749095 -87.679637
70             C71          AUBURN GRESHAM  41.752451 -87.652969
71             C72                 BEVERLY  41.711666 -87.681963
72             C73      WASHINGTON HEIGHTS  41.698782 -87.647671
73             C74         MOUNT GREENWOOD  41.711137 -87.720903
74             C75             MORGAN PARK  41.698728 -87.681558
75             C76                   OHARE  41.965897 -87.836965
76             C77               EDGEWATER  41.983811 -87.656762

[77 rows x 4 columns]

In [35]:
comareas = crimes_df['Community Area'].unique()

comar_fixed = []
for index, row in comar_df.iterrows():
    crimes_aux = crimes_df[crimes_df['Community Area'] == index + 1].head()
    latitude = np.array(crimes_aux['Latitude'])[0]
    longitude = np.array(crimes_aux['Longitude'])[0]
    comar_fixed.append([row['CommunityNumber'], row['CommunityName'], latitude, longitude])
comar_df = pd.DataFrame(comar_fixed, columns=['CommunityNumber', 'CommunityName', 'Latitude', 'Longitude'])
comar_df

   CommunityNumber           CommunityName   Latitude  Longitude
0               C1             ROGERS PARK  42.005362 -87.671555
1               C2              WEST RIDGE  41.993282 -87.709221
2               C3                  UPTOWN  41.964014 -87.670899
3               C4          LINCOLN SQUARE  41.983957 -87.689461
4               C5            NORTH CENTER  41.948921 -87.683469
5               C6               LAKE VIEW  41.940318 -87.644408
6               C7            LINCOLN PARK  41.919311 -87.636668
7               C8         NEAR NORTH SIDE  41.900564 -87.630605
8               C9             EDISON PARK  42.004939 -87.815084
9              C10            NORWOOD PARK  41.986838 -87.808346
10             C11          JEFFERSON PARK  41.986511 -87.769076
11             C12             FOREST GLEN  41.989967 -87.742403
12             C13              NORTH PARK  41.994203 -87.717757
13             C14             ALBANY PARK  41.968250 -87.727255
14             C15            PORTAGE PARK  41.960858 -87.754673
15             C16             IRVING PARK  41.939056 -87.730240
16             C17                 DUNNING  41.941436 -87.792163
17             C18               MONTCLARE  41.921200 -87.792037
18             C19          BELMONT CRAGIN  41.937356 -87.774964
19             C20                 HERMOSA  41.927301 -87.739946
20             C21                AVONDALE  41.934960 -87.711359
21             C22            LOGAN SQUARE  41.917165 -87.680077
22             C23           HUMBOLDT PARK  41.895431 -87.719434
23             C24               WEST TOWN  41.910313 -87.687806
24             C25                  AUSTIN  41.891399 -87.744385
25             C26      WEST GARFIELD PARK  41.879466 -87.723185
26             C27      EAST GARFIELD PARK  41.887413 -87.714498
27             C28          NEAR WEST SIDE  41.863041 -87.666289
28             C29          NORTH LAWNDALE  41.863462 -87.726315
29             C30          SOUTH LAWNDALE  41.851682 -87.713304
..             ...                     ...        ...        ...
47             C48         CALUMET HEIGHTS  41.736588 -87.592994
48             C49                ROSELAND  41.717455 -87.617663
49             C50                 PULLMAN  41.707462 -87.605330
50             C51           SOUTH DEERING  41.708029 -87.569290
51             C52               EAST SIDE  41.724510 -87.537826
52             C53            WEST PULLMAN  41.677360 -87.641894
53             C54               RIVERDALE  41.658138 -87.613673
54             C55               HEGEWISCH  41.654537 -87.553811
55             C56          GARFIELD RIDGE  41.792098 -87.794745
56             C57          ARCHER HEIGHTS  41.805167 -87.727181
57             C58           BRIGHTON PARK  41.813610 -87.702061
58             C59           MCKINLEY PARK  41.828138 -87.672782
59             C60              BRIDGEPORT  41.825398 -87.637177
60             C61                NEW CITY  41.808422 -87.683024
61             C62             WEST ELSDON  41.797963 -87.728198
62             C63               GAGE PARK  41.789749 -87.683924
63             C64                CLEARING  41.782423 -87.771668
64             C65               WEST LAWN  41.783347 -87.713853
65             C66            CHICAGO LAWN  41.767782 -87.689443
66             C67          WEST ENGLEWOOD  41.773372 -87.665319
67             C68               ENGLEWOOD  41.766403 -87.649296
68             C69  GREATER GRAND CROSSING  41.752407 -87.633792
69             C70                 ASHBURN  41.743804 -87.693687
70             C71          AUBURN GRESHAM  41.751710 -87.642848
71             C72                 BEVERLY  41.729619 -87.681097
72             C73      WASHINGTON HEIGHTS  41.728093 -87.653113
73             C74         MOUNT GREENWOOD  41.705313 -87.701313
74             C75             MORGAN PARK  41.699185 -87.642594
75             C76                   OHARE  41.974966 -87.898271
76             C77               EDGEWATER  41.980634 -87.656530

[77 rows x 4 columns]

In [37]:
comar_df.to_csv(DATASET_COM_AREAS_PATH, index = False)