In [1]:
import pandas as pd
import numpy as np

DATASETS_LOCATION = "/Users/gomerudo/workspace/datasets"

## Load clean datasets

In [2]:
# Loading from absolute path, because the dataset is too big to download and to upload

DATASET_CRIMES_PATH = DATASETS_LOCATION + "/chicago_crimes_2001_present_clean.csv"
DATASET_INDICATORS_PATH = DATASETS_LOCATION + "/chicago_socioeconomic_indicators_2008_2012_clean.csv"

# Load CSVs
crimes_df = pd.read_csv(DATASET_CRIMES_PATH, na_values = ["", " "])
indicators_df = pd.read_csv(DATASET_INDICATORS_PATH, na_values = ["", " "])

In [3]:
# Show preview of crimes
crimes_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Community Area,Year,Latitude,Longitude
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,1111,11,25,2015,41.891399,-87.744385
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,725,7,67,2015,41.773372,-87.665319
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,222,2,39,2015,41.813861,-87.596643
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,225,2,40,2015,41.800802,-87.622619
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,1113,11,25,2015,41.878065,-87.743354

In [4]:
# Show preview of indicators
indicators_df.head()

,Community Area Number,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,39.000000,4.923377,21.766234,15.372727,20.341558,35.746753,25563.168831,49.506494
std,22.371857,3.682887,11.529957,7.543412,11.823152,7.327716,15293.098259,28.690556
min,1.000000,0.300000,3.300000,4.700000,2.500000,13.500000,8201.000000,1.000000
25%,20.000000,2.300000,13.200000,9.200000,11.800000,32.000000,15754.000000,25.000000
50%,39.000000,3.800000,18.900000,13.900000,18.500000,38.100000,21323.000000,50.000000
75%,58.000000,6.800000,29.200000,20.000000,26.600000,40.500000,28887.000000,74.000000
max,77.000000,15.800000,56.500000,35.900000,54.800000,51.500000,88669.000000,98.000000

## Do the stuff for the network creation :D

### - First create the csv for the nodes

In [6]:
import time

start_time = time.time()

nodes_list = []

headers = ["NodeID", 
           "Property1", "Value1", 
           "Property2", "Value2", 
           "Property3", "Value3", 
           "Property4", "Value4",
           "Property5", "Value5"]

# For communities
communities = crimes_df['Community Area'].unique()
communities = np.sort(communities)

for community in communities:
    nodes_list.append(["C{}".format(community), # NodeID
                       'NodeLabel', # Property1
                       'Community', # Value1
                       'Name', # Property2
                       "Community {}".format(community), # Value2
                       np.NAN, # Property3
                       np.NAN, # Value3
                       np.NAN, # Property4
                       np.NAN, # Value4
                       np.NAN, # Property5
                       np.NAN]) # Value5

# For districts
districts = crimes_df['District'].unique()
districts = np.sort(districts)

for district in districts:
    nodes_list.append(["D{}".format(district), #NodeID
                       'NodeLabel', # Property1
                       'District', # Value1
                       'Name', # Property2
                       "District {}".format(district), # Value2
                       np.NAN, # Property3
                       np.NAN, # Value3
                       np.NAN, # Property4
                       np.NAN, # Value4
                       np.NAN, # Property5
                       np.NAN]) # Value5

# For primary type...
crime_types = crimes_df['Primary Type'].unique()
crime_types = np.sort(crime_types)

# for i, crime_type in enumerate(crime_types):
#     nodes_list.append(["CT_{}".format(i), # NodeID
#                        'NodeLabel', # Property1
#                        'CrimeType', # Value1
#                        'Name', # Property2
#                        crime_type, # Value2
#                        '', # Property 3
#                        '']) # Value3

# For case numbers
for index, row in crimes_df.iterrows():
    nodes_list.append(["CASE_{}".format(row['Case Number']), # NodeID
                       'NodeLabel', # Property1
                       'CaseNumber', # Value1
                       'Name', # Property2
                       row['Case Number'], # Value2
                       'Type', # Property3
                       row['Primary Type'], # Value3
                       'Latitude', # Property4
                       row['Latitude'], # Value4
                       'Longitude', # Property5
                       row['Longitude'] ]) # Value5
    
# cases = crimes_df['Case Number'].unique()
# cases = np.sort(cases)

# for case in cases:
#     nodes_list.append(["CASE_{}".format(case) , 
#                        'NodeLabel', 
#                        'CaseNumber', 
#                        'Name', 
#                        case,
#                        ''])

# Create other nodes (based on criterias of indicators and so on)
# Based on hardship
nodes_list.append(["CR_DAN".format(), # NodeID
                   'NodeLabel', # Property1
                   'Category', # Value1
                   'Name', # Property2
                   'Dangereous', # Value2
                   'Comment', # Property3
                   'Bassed on hardship index', # Value3
                   np.NAN, # Property4
                   np.NAN, # Value4
                   np.NAN, # Property5
                   np.NAN]) # Value5

# Create the pandas DataFrame to save the results
nodes_df = pd.DataFrame(nodes_list, columns = headers)

end_time = time.time()
print("Creation of nodes data frame took {:.2f} sec".format(end_time - start_time))

nodes_df

Creation of nodes data frame took 937.41 sec

,NodeID,Property1,Value1,Property2,Value2,Property3,Value3,Property4,Value4,Property5,Value5
0,C1,NodeLabel,Community,Name,Community 1,NaN,NaN,NaN,NaN,NaN,NaN
1,C2,NodeLabel,Community,Name,Community 2,NaN,NaN,NaN,NaN,NaN,NaN
2,C3,NodeLabel,Community,Name,Community 3,NaN,NaN,NaN,NaN,NaN,NaN
3,C4,NodeLabel,Community,Name,Community 4,NaN,NaN,NaN,NaN,NaN,NaN
4,C5,NodeLabel,Community,Name,Community 5,NaN,NaN,NaN,NaN,NaN,NaN
5,C6,NodeLabel,Community,Name,Community 6,NaN,NaN,NaN,NaN,NaN,NaN
6,C7,NodeLabel,Community,Name,Community 7,NaN,NaN,NaN,NaN,NaN,NaN
7,C8,NodeLabel,Community,Name,Community 8,NaN,NaN,NaN,NaN,NaN,NaN
8,C9,NodeLabel,Community,Name,Community 9,NaN,NaN,NaN,NaN,NaN,NaN
9,C10,NodeLabel,Community,Name,Community 10,NaN,NaN,NaN,NaN,NaN,NaN
10,C11,NodeLabel,Community,Name,Community 11,NaN,NaN,NaN,NaN,NaN,NaN
11,C12,NodeLabel,Community,Name,Community 12,NaN,NaN,NaN,NaN,NaN,NaN
12,C13,NodeLabel,Community,Name,Community 13,NaN,NaN,NaN,NaN,NaN,NaN
13,C14,NodeLabel,Community,Name,Community 14,NaN,NaN,NaN,NaN,NaN,NaN
14,C15,NodeLabel,Community,Name,Community 15,NaN,NaN,NaN,NaN,NaN,NaN
15,C16,NodeLabel,Community,Name,Community 16,NaN,NaN,NaN,NaN,NaN,NaN
16,C17,NodeLabel,Community,Name,Community 17,NaN,NaN,NaN,NaN,NaN,NaN
17,C18,NodeLabel,Community,Name,Community 18,NaN,NaN,NaN,NaN,NaN,NaN
18,C19,NodeLabel,Community,Name,Community 19,NaN,NaN,NaN,NaN,NaN,NaN
19,C20,NodeLabel,Community,Name,Community 20,NaN,NaN,NaN,NaN,NaN,NaN
20,C21,NodeLabel,Community,Name,Community 21,NaN,NaN,NaN,NaN,NaN,NaN
21,C22,NodeLabel,Community,Name,Community 22,NaN,NaN,NaN,NaN,NaN,NaN
22,C23,NodeLabel,Community,Name,Community 23,NaN,NaN,NaN,NaN,NaN,NaN
23,C24,NodeLabel,Community,Name,Community 24,NaN,NaN,NaN,NaN,NaN,NaN
24,C25,NodeLabel,Community,Name,Community 25,NaN,NaN,NaN,NaN,NaN,NaN
25,C26,NodeLabel,Community,Name,Community 26,NaN,NaN,NaN,NaN,NaN,NaN
26,C27,NodeLabel,Community,Name,Community 27,NaN,NaN,NaN,NaN,NaN,NaN
27,C28,NodeLabel,Community,Name,Community 28,NaN,NaN,NaN,NaN,NaN,NaN
28,C29,NodeLabel,Community,Name,Community 29,NaN,NaN,NaN,NaN,NaN,NaN
29,C30,NodeLabel,Community,Name,Community 30,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5855727,CASE_HX557984,NodeLabel,CaseNumber,Name,HX557984,Type,NARCOTICS,Latitude,41.885001,Longitude,-87.725791
5855728,CASE_HY171695,NodeLabel,CaseNumber,Name,HY171695,Type,DECEPTIVE PRACTICE,Latitude,41.893002,Longitude,-87.754793
5855729,CASE_HY171649,NodeLabel,CaseNumber,Name,HY171649,Type,DECEPTIVE PRACTICE,Latitude,41.651413,Longitude,-87.548393
5855730,CASE_HY173580,NodeLabel,CaseNumber,Name,HY173580,Type,CRIM SEXUAL ASSAULT,Latitude,41.906262,Longitude,-87.727574
5855731,CASE_HX545863,NodeLabel,CaseNumber,Name,HX545863,Type,NARCOTICS,Latitude,41.867472,Longitude,-87.702035
5855732,CASE_HX544738,NodeLabel,CaseNumber,Name,HX544738,Type,NARCOTICS,Latitude,41.749295,Longitude,-87.557701
5855733,CASE_HX544391,NodeLabel,CaseNumber,Name,HX544391,Type,NARCOTICS,Latitude,41.894263,Longitude,-87.721153
5855734,CASE_HX544706,NodeLabel,CaseNumber,Name,HX544706,Type,NARCOTICS,Latitude,41.879687,Longitude,-87.731779
5855735,CASE_HX556514,NodeLabel,CaseNumber,Name,HX556514,Type,NARCOTICS,Latitude,41.866793,Longitude,-87.719543
5855736,CASE_HX555632,NodeLabel,CaseNumber,Name,HX555632,Type,NARCOTICS,Latitude,41.879247,Longitude,-87.696954
5855737,CASE_HX555859,NodeLabel,CaseNumber,Name,HX555859,Type,NARCOTICS,Latitude,41.880741,Longitude,-87.724524
5855738,CASE_HY180702,NodeLabel,CaseNumber,Name,HY180702,Type,DECEPTIVE PRACTICE,Latitude,41.900421,Longitude,-87.673514
5855739,CASE_HY181602,NodeLabel,CaseNumber,Name,HY181602,Type,CRIMINAL DAMAGE,Latitude,41.822551,Longitude,-87.665256
5855740,CASE_HY181590,NodeLabel,CaseNumber,Name,HY181590,Type,DECEPTIVE PRACTICE,Latitude,41.854248,Longitude,-87.713694
5855741,CASE_HY181917,NodeLabel,CaseNumber,Name,HY181917,Type,DECEPTIVE PRACTICE,Latitude,41.926425,Longitude,-87.764847
5855742,CASE_HY182409,NodeLabel,CaseNumber,Name,HY182409,Type,DECEPTIVE PRACTICE,Latitude,41.704701,Longitude,-87.620559
5855743,CASE_HY183199,NodeLabel,CaseNumber,Name,HY183199,Type,DECEPTIVE PRACTICE,Latitude,41.776807,Longitude,-87.681008
5855744,CASE_HY184103,NodeLabel,CaseNumber,Name,HY184103,Type,THEFT,Latitude,41.780390,Longitude,-87.670295
5855745,CASE_HY185287,NodeLabel,CaseNumber,Name,HY185287,Type,ASSAULT,Latitude,41.921105,Longitude,-87.769535
5855746,CASE_HY185342,NodeLabel,CaseNumber,Name,HY185342,Type,CRIMINAL DAMAGE,Latitude,41.850709,Longitude,-87.671709
5855747,CASE_HY186607,NodeLabel,CaseNumber,Name,HY186607,Type,DECEPTIVE PRACTICE,Latitude,41.899048,Longitude,-87.723087
5855748,CASE_HY186808,NodeLabel,CaseNumber,Name,HY186808,Type,DECEPTIVE PRACTICE,Latitude,41.740207,Longitude,-87.542967
5855749,CASE_HY186992,NodeLabel,CaseNumber,Name,HY186992,Type,DECEPTIVE PRACTICE,Latitude,41.793810,Longitude,-87.653988
5855750,CASE_HY187880,NodeLabel,CaseNumber,Name,HY187880,Type,DECEPTIVE PRACTICE,Latitude,41.711661,Longitude,-87.638106
5855751,CASE_HY188050,NodeLabel,CaseNumber,Name,HY188050,Type,DECEPTIVE PRACTICE,Latitude,41.749853,Longitude,-87.651297
5855752,CASE_HY188115,NodeLabel,CaseNumber,Name,HY188115,Type,DECEPTIVE PRACTICE,Latitude,41.928606,Longitude,-87.740772
5855753,CASE_HY189325,NodeLabel,CaseNumber,Name,HY189325,Type,DECEPTIVE PRACTICE,Latitude,41.875713,Longitude,-87.758034
5855754,CASE_JB139324,NodeLabel,CaseNumber,Name,JB139324,Type,HOMICIDE,Latitude,41.877370,Longitude,-87.701416
5855755,CASE_JB139300,NodeLabel,CaseNumber,Name,JB139300,Type,HOMICIDE,Latitude,41.737261,Longitude,-87.649730
5855756,CR_DAN,NodeLabel,Category,Name,Dangereous,Comment,Bassed on hardship index,NaN,NaN,NaN,NaN

In [26]:
# Save nodes for further usage
DATASET_NODES_PATH = DATASETS_LOCATION + "/timewise_nodes.csv"
nodes_df.to_csv(DATASET_NODES_PATH, index = False)

### - Now, for the edges...

#### Relate communties with cases

In theory, this would never change, so we shouldn't modify this cell too much...

In [55]:
import time

# Log time
start_time = time.time()

# Array to store the edges
edges_list = []

headers = ["EdgeID", "FromNodeID", "ToNodeID",
           "Property1", "Value1", 
           "Property2", "Value2", 
           "Property3", "Value3"]

# Get the communities satisfying a given criteria
communities_criteria = indicators_df[indicators_df['HARDSHIP INDEX'] > 50]

# We iterate over the whole dataset to associate all the cases.
for index, row in crimes_df.iterrows():
    if index % 500000 == 0:
        print("Reached row {} ...".format(index))
    edges_list.append(
        [
            "OCURRED_IN", # EdgeID
            "CASE_" + row['Case Number'], # FromNodeID (A case)
            "C" + str(row['Community Area']), # ToNodeID (A community)
            "StartTime", # Property1
            row['Date'], # Value1. TODO: save start of period we should define
            "EndTime", # Property2
            row['Date'], # Value2. TODO: save end of period we should define
            "Timestamp", # Property3
            row['Date'] # Value3
        ]
    )

pd.DataFrame(edges_list, columns = headers)

edges_df = pd.DataFrame(edges_list, columns = headers)

end_time = time.time()
print("Creation of edges data frame took {:.2f} sec".format(end_time - start_time))

edges_df

Reached row 0 ...
Reached row 500000 ...
Reached row 1000000 ...
Reached row 1500000 ...
Reached row 2000000 ...
Reached row 2500000 ...
Reached row 3000000 ...
Reached row 3500000 ...
Reached row 4000000 ...
Reached row 4500000 ...
Reached row 5000000 ...
Reached row 5500000 ...
Creation of nodes data frame took 768.75 sec

,EdgeID,FromNodeID,ToNodeID,Property1,Value1,Property2,Value2,Property3,Value3
0,OCURRED_IN,CASE_HY189866,C25,StartTime,03/18/2015 07:44:00 PM,EndTime,03/18/2015 07:44:00 PM,Timestamp,03/18/2015 07:44:00 PM
1,OCURRED_IN,CASE_HY190059,C67,StartTime,03/18/2015 11:00:00 PM,EndTime,03/18/2015 11:00:00 PM,Timestamp,03/18/2015 11:00:00 PM
2,OCURRED_IN,CASE_HY190052,C39,StartTime,03/18/2015 10:45:00 PM,EndTime,03/18/2015 10:45:00 PM,Timestamp,03/18/2015 10:45:00 PM
3,OCURRED_IN,CASE_HY190054,C40,StartTime,03/18/2015 10:30:00 PM,EndTime,03/18/2015 10:30:00 PM,Timestamp,03/18/2015 10:30:00 PM
4,OCURRED_IN,CASE_HY189976,C25,StartTime,03/18/2015 09:00:00 PM,EndTime,03/18/2015 09:00:00 PM,Timestamp,03/18/2015 09:00:00 PM
5,OCURRED_IN,CASE_HY190032,C39,StartTime,03/18/2015 10:00:00 PM,EndTime,03/18/2015 10:00:00 PM,Timestamp,03/18/2015 10:00:00 PM
6,OCURRED_IN,CASE_HY190047,C68,StartTime,03/18/2015 11:00:00 PM,EndTime,03/18/2015 11:00:00 PM,Timestamp,03/18/2015 11:00:00 PM
7,OCURRED_IN,CASE_HY189988,C38,StartTime,03/18/2015 09:35:00 PM,EndTime,03/18/2015 09:35:00 PM,Timestamp,03/18/2015 09:35:00 PM
8,OCURRED_IN,CASE_HY190020,C59,StartTime,03/18/2015 10:09:00 PM,EndTime,03/18/2015 10:09:00 PM,Timestamp,03/18/2015 10:09:00 PM
9,OCURRED_IN,CASE_HY189964,C49,StartTime,03/18/2015 09:25:00 PM,EndTime,03/18/2015 09:25:00 PM,Timestamp,03/18/2015 09:25:00 PM
10,OCURRED_IN,CASE_HY189984,C54,StartTime,03/18/2015 09:30:00 PM,EndTime,03/18/2015 09:30:00 PM,Timestamp,03/18/2015 09:30:00 PM
11,OCURRED_IN,CASE_HY189719,C69,StartTime,03/15/2015 04:10:00 PM,EndTime,03/15/2015 04:10:00 PM,Timestamp,03/15/2015 04:10:00 PM
12,OCURRED_IN,CASE_HY189966,C46,StartTime,03/18/2015 09:14:00 PM,EndTime,03/18/2015 09:14:00 PM,Timestamp,03/18/2015 09:14:00 PM
13,OCURRED_IN,CASE_HY190056,C28,StartTime,03/18/2015 10:50:00 PM,EndTime,03/18/2015 10:50:00 PM,Timestamp,03/18/2015 10:50:00 PM
14,OCURRED_IN,CASE_HY190019,C25,StartTime,03/18/2015 10:31:00 PM,EndTime,03/18/2015 10:31:00 PM,Timestamp,03/18/2015 10:31:00 PM
15,OCURRED_IN,CASE_HY189725,C43,StartTime,03/18/2015 12:55:00 PM,EndTime,03/18/2015 12:55:00 PM,Timestamp,03/18/2015 12:55:00 PM
16,OCURRED_IN,CASE_HY190071,C24,StartTime,03/18/2015 08:00:00 PM,EndTime,03/18/2015 08:00:00 PM,Timestamp,03/18/2015 08:00:00 PM
17,OCURRED_IN,CASE_HY190036,C67,StartTime,03/18/2015 09:00:00 PM,EndTime,03/18/2015 09:00:00 PM,Timestamp,03/18/2015 09:00:00 PM
18,OCURRED_IN,CASE_HY190063,C49,StartTime,03/18/2015 10:56:00 PM,EndTime,03/18/2015 10:56:00 PM,Timestamp,03/18/2015 10:56:00 PM
19,OCURRED_IN,CASE_HY190068,C48,StartTime,03/18/2015 10:45:00 PM,EndTime,03/18/2015 10:45:00 PM,Timestamp,03/18/2015 10:45:00 PM
20,OCURRED_IN,CASE_HY190031,C43,StartTime,03/18/2015 10:00:00 PM,EndTime,03/18/2015 10:00:00 PM,Timestamp,03/18/2015 10:00:00 PM
21,OCURRED_IN,CASE_HY190072,C77,StartTime,03/18/2015 11:55:00 PM,EndTime,03/18/2015 11:55:00 PM,Timestamp,03/18/2015 11:55:00 PM
22,OCURRED_IN,CASE_HY190073,C43,StartTime,03/18/2015 11:40:00 PM,EndTime,03/18/2015 11:40:00 PM,Timestamp,03/18/2015 11:40:00 PM
23,OCURRED_IN,CASE_HY189969,C25,StartTime,03/18/2015 09:44:00 PM,EndTime,03/18/2015 09:44:00 PM,Timestamp,03/18/2015 09:44:00 PM
24,OCURRED_IN,CASE_HY190060,C31,StartTime,03/18/2015 11:30:00 PM,EndTime,03/18/2015 11:30:00 PM,Timestamp,03/18/2015 11:30:00 PM
25,OCURRED_IN,CASE_HY190035,C40,StartTime,03/18/2015 10:45:00 PM,EndTime,03/18/2015 10:45:00 PM,Timestamp,03/18/2015 10:45:00 PM
26,OCURRED_IN,CASE_HY190027,C73,StartTime,03/18/2015 10:33:00 PM,EndTime,03/18/2015 10:33:00 PM,Timestamp,03/18/2015 10:33:00 PM
27,OCURRED_IN,CASE_HY190096,C71,StartTime,03/19/2015 01:20:00 AM,EndTime,03/19/2015 01:20:00 AM,Timestamp,03/19/2015 01:20:00 AM
28,OCURRED_IN,CASE_HY190003,C71,StartTime,03/18/2015 09:59:00 PM,EndTime,03/18/2015 09:59:00 PM,Timestamp,03/18/2015 09:59:00 PM
29,OCURRED_IN,CASE_HY190101,C51,StartTime,03/19/2015 01:28:00 AM,EndTime,03/19/2015 01:28:00 AM,Timestamp,03/19/2015 01:28:00 AM
...,...,...,...,...,...,...,...,...,...
5855625,OCURRED_IN,CASE_HX557982,C26,StartTime,12/28/2014 07:15:00 PM,EndTime,12/28/2014 07:15:00 PM,Timestamp,12/28/2014 07:15:00 PM
5855626,OCURRED_IN,CASE_HX557984,C26,StartTime,12/28/2014 07:40:00 PM,EndTime,12/28/2014 07:40:00 PM,Timestamp,12/28/2014 07:40:00 PM
5855627,OCURRED_IN,CASE_HY171695,C25,StartTime,02/01/2010 12:01:00 AM,EndTime,02/01/2010 12:01:00 AM,Timestamp,02/01/2010 12:01:00 AM
5855628,OCURRED_IN,CASE_HY171649,C55,StartTime,01/01/2012 12:00:00 PM,EndTime,01/01/2012 12:00:00 PM,Timestamp,01/01/2012 12:00:00 PM
5855629,OCURRED_IN,CASE_HY173580,C23,StartTime,09/01/2012 10:00:00 AM,EndTime,09/01/2012 10:00:00 AM,Timestamp,09/01/2012 10:00:00 AM
5855630,OCURRED_IN,CASE_HX545863,C29,StartTime,12/17/2014 03:40:00 PM,EndTime,12/17/2014 03:40:00 PM,Timestamp,12/17/2014 03:40:00 PM
5855631,OCURRED_IN,CASE_HX544738,C46,StartTime,12/16/2014 04:19:00 PM,EndTime,12/16/2014 04:19:00 PM,Timestamp,12/16/2014 04:19:00 PM
5855632,OCURRED_IN,CASE_HX544391,C23,StartTime,12/16/2014 12:12:00 PM,EndTime,12/16/2014 12:12:00 PM,Timestamp,12/16/2014 12:12:00 PM
5855633,OCURRED_IN,CASE_HX544706,C26,StartTime,12/16/2014 04:15:00 PM,EndTime,12/16/2014 04:15:00 PM,Timestamp,12/16/2014 04:15:00 PM
5855634,OCURRED_IN,CASE_HX556514,C29,StartTime,12/27/2014 12:20:00 PM,EndTime,12/27/2014 12:20:00 PM,Timestamp,12/27/2014 12:20:00 PM
5855635,OCURRED_IN,CASE_HX555632,C27,StartTime,12/26/2014 04:17:00 PM,EndTime,12/26/2014 04:17:00 PM,Timestamp,12/26/2014 04:17:00 PM
5855636,OCURRED_IN,CASE_HX555859,C26,StartTime,12/26/2014 06:55:00 PM,EndTime,12/26/2014 06:55:00 PM,Timestamp,12/26/2014 06:55:00 PM
5855637,OCURRED_IN,CASE_HY180702,C24,StartTime,02/07/2012 09:00:00 AM,EndTime,02/07/2012 09:00:00 AM,Timestamp,02/07/2012 09:00:00 AM
5855638,OCURRED_IN,CASE_HY181602,C61,StartTime,03/12/2015 07:00:00 AM,EndTime,03/12/2015 07:00:00 AM,Timestamp,03/12/2015 07:00:00 AM
5855639,OCURRED_IN,CASE_HY181590,C29,StartTime,04/01/2012 12:01:00 AM,EndTime,04/01/2012 12:01:00 AM,Timestamp,04/01/2012 12:01:00 AM
5855640,OCURRED_IN,CASE_HY181917,C19,StartTime,10/01/2011 08:00:00 AM,EndTime,10/01/2011 08:00:00 AM,Timestamp,10/01/2011 08:00:00 AM
5855641,OCURRED_IN,CASE_HY182409,C49,StartTime,01/13/2011 09:00:00 AM,EndTime,01/13/2011 09:00:00 AM,Timestamp,01/13/2011 09:00:00 AM
5855642,OCURRED_IN,CASE_HY183199,C66,StartTime,03/11/2011 09:00:00 AM,EndTime,03/11/2011 09:00:00 AM,Timestamp,03/11/2011 09:00:00 AM
5855643,OCURRED_IN,CASE_HY184103,C67,StartTime,03/11/2015 12:00:00 PM,EndTime,03/11/2015 12:00:00 PM,Timestamp,03/11/2015 12:00:00 PM
5855644,OCURRED_IN,CASE_HY185287,C19,StartTime,03/13/2015 06:00:00 PM,EndTime,03/13/2015 06:00:00 PM,Timestamp,03/13/2015 06:00:00 PM
5855645,OCURRED_IN,CASE_HY185342,C31,StartTime,03/14/2015 09:00:00 PM,EndTime,03/14/2015 09:00:00 PM,Timestamp,03/14/2015 09:00:00 PM
5855646,OCURRED_IN,CASE_HY186607,C23,StartTime,11/14/2011 11:44:00 AM,EndTime,11/14/2011 11:44:00 AM,Timestamp,11/14/2011 11:44:00 AM
5855647,OCURRED_IN,CASE_HY186808,C46,StartTime,02/11/2011 07:00:00 AM,EndTime,02/11/2011 07:00:00 AM,Timestamp,02/11/2011 07:00:00 AM
5855648,OCURRED_IN,CASE_HY186992,C68,StartTime,09/26/2011 09:00:00 AM,EndTime,09/26/2011 09:00:00 AM,Timestamp,09/26/2011 09:00:00 AM
5855649,OCURRED_IN,CASE_HY187880,C73,StartTime,03/01/2011 12:00:00 PM,EndTime,03/01/2011 12:00:00 PM,Timestamp,03/01/2011 12:00:00 PM
5855650,OCURRED_IN,CASE_HY188050,C71,StartTime,01/01/2010 12:00:00 AM,EndTime,01/01/2010 12:00:00 AM,Timestamp,01/01/2010 12:00:00 AM
5855651,OCURRED_IN,CASE_HY188115,C20,StartTime,01/01/2012 09:00:00 AM,EndTime,01/01/2012 09:00:00 AM,Timestamp,01/01/2012 09:00:00 AM
5855652,OCURRED_IN,CASE_HY189325,C25,StartTime,05/05/2011 12:00:00 PM,EndTime,05/05/2011 12:00:00 PM,Timestamp,05/05/2011 12:00:00 PM
5855653,OCURRED_IN,CASE_JB139324,C27,StartTime,02/02/2018 10:25:00 PM,EndTime,02/02/2018 10:25:00 PM,Timestamp,02/02/2018 10:25:00 PM
5855654,OCURRED_IN,CASE_JB139300,C71,StartTime,02/02/2018 09:51:00 PM,EndTime,02/02/2018 09:51:00 PM,Timestamp,02/02/2018 09:51:00 PM

#### Relate communities with categories (dangereous, poor, etc...)

In [56]:
# This cell appends the content. So, if you run it multiple times, you will add multiple times.
# Proceed carefully...

import time

# Log time
start_time = time.time()

# Get the communities satisfying a given criteria
communities_criteria = indicators_df[indicators_df['HARDSHIP INDEX'] > 50]

for index, row in communities_criteria.iterrows():
    edges_list.append(
        [
            "CONSIDERED", # EdgeID
            "C" + str(row['Community Area Number']), # FromNodeID (A community)
            "CR_DAN", # ToNodeID (A criteria node)
            "HardshipIndex", # Property1
            row['HARDSHIP INDEX'], # Value1
            np.NaN, # Property2
            np.NaN, # Value2
            np.NaN, # Property3
            np.NaN  # Value3
        ]
    )

edges_df = pd.DataFrame(edges_list, columns = headers)

end_time = time.time()
print("Append to edges data frame took {:.2f} sec".format(end_time - start_time))

edges_df

Creation of nodes data frame took 9.33 sec

,EdgeID,FromNodeID,ToNodeID,Property1,Value1,Property2,Value2,Property3,Value3
0,OCURRED_IN,CASE_HY189866,C25,StartTime,03/18/2015 07:44:00 PM,EndTime,03/18/2015 07:44:00 PM,Timestamp,03/18/2015 07:44:00 PM
1,OCURRED_IN,CASE_HY190059,C67,StartTime,03/18/2015 11:00:00 PM,EndTime,03/18/2015 11:00:00 PM,Timestamp,03/18/2015 11:00:00 PM
2,OCURRED_IN,CASE_HY190052,C39,StartTime,03/18/2015 10:45:00 PM,EndTime,03/18/2015 10:45:00 PM,Timestamp,03/18/2015 10:45:00 PM
3,OCURRED_IN,CASE_HY190054,C40,StartTime,03/18/2015 10:30:00 PM,EndTime,03/18/2015 10:30:00 PM,Timestamp,03/18/2015 10:30:00 PM
4,OCURRED_IN,CASE_HY189976,C25,StartTime,03/18/2015 09:00:00 PM,EndTime,03/18/2015 09:00:00 PM,Timestamp,03/18/2015 09:00:00 PM
5,OCURRED_IN,CASE_HY190032,C39,StartTime,03/18/2015 10:00:00 PM,EndTime,03/18/2015 10:00:00 PM,Timestamp,03/18/2015 10:00:00 PM
6,OCURRED_IN,CASE_HY190047,C68,StartTime,03/18/2015 11:00:00 PM,EndTime,03/18/2015 11:00:00 PM,Timestamp,03/18/2015 11:00:00 PM
7,OCURRED_IN,CASE_HY189988,C38,StartTime,03/18/2015 09:35:00 PM,EndTime,03/18/2015 09:35:00 PM,Timestamp,03/18/2015 09:35:00 PM
8,OCURRED_IN,CASE_HY190020,C59,StartTime,03/18/2015 10:09:00 PM,EndTime,03/18/2015 10:09:00 PM,Timestamp,03/18/2015 10:09:00 PM
9,OCURRED_IN,CASE_HY189964,C49,StartTime,03/18/2015 09:25:00 PM,EndTime,03/18/2015 09:25:00 PM,Timestamp,03/18/2015 09:25:00 PM
10,OCURRED_IN,CASE_HY189984,C54,StartTime,03/18/2015 09:30:00 PM,EndTime,03/18/2015 09:30:00 PM,Timestamp,03/18/2015 09:30:00 PM
11,OCURRED_IN,CASE_HY189719,C69,StartTime,03/15/2015 04:10:00 PM,EndTime,03/15/2015 04:10:00 PM,Timestamp,03/15/2015 04:10:00 PM
12,OCURRED_IN,CASE_HY189966,C46,StartTime,03/18/2015 09:14:00 PM,EndTime,03/18/2015 09:14:00 PM,Timestamp,03/18/2015 09:14:00 PM
13,OCURRED_IN,CASE_HY190056,C28,StartTime,03/18/2015 10:50:00 PM,EndTime,03/18/2015 10:50:00 PM,Timestamp,03/18/2015 10:50:00 PM
14,OCURRED_IN,CASE_HY190019,C25,StartTime,03/18/2015 10:31:00 PM,EndTime,03/18/2015 10:31:00 PM,Timestamp,03/18/2015 10:31:00 PM
15,OCURRED_IN,CASE_HY189725,C43,StartTime,03/18/2015 12:55:00 PM,EndTime,03/18/2015 12:55:00 PM,Timestamp,03/18/2015 12:55:00 PM
16,OCURRED_IN,CASE_HY190071,C24,StartTime,03/18/2015 08:00:00 PM,EndTime,03/18/2015 08:00:00 PM,Timestamp,03/18/2015 08:00:00 PM
17,OCURRED_IN,CASE_HY190036,C67,StartTime,03/18/2015 09:00:00 PM,EndTime,03/18/2015 09:00:00 PM,Timestamp,03/18/2015 09:00:00 PM
18,OCURRED_IN,CASE_HY190063,C49,StartTime,03/18/2015 10:56:00 PM,EndTime,03/18/2015 10:56:00 PM,Timestamp,03/18/2015 10:56:00 PM
19,OCURRED_IN,CASE_HY190068,C48,StartTime,03/18/2015 10:45:00 PM,EndTime,03/18/2015 10:45:00 PM,Timestamp,03/18/2015 10:45:00 PM
20,OCURRED_IN,CASE_HY190031,C43,StartTime,03/18/2015 10:00:00 PM,EndTime,03/18/2015 10:00:00 PM,Timestamp,03/18/2015 10:00:00 PM
21,OCURRED_IN,CASE_HY190072,C77,StartTime,03/18/2015 11:55:00 PM,EndTime,03/18/2015 11:55:00 PM,Timestamp,03/18/2015 11:55:00 PM
22,OCURRED_IN,CASE_HY190073,C43,StartTime,03/18/2015 11:40:00 PM,EndTime,03/18/2015 11:40:00 PM,Timestamp,03/18/2015 11:40:00 PM
23,OCURRED_IN,CASE_HY189969,C25,StartTime,03/18/2015 09:44:00 PM,EndTime,03/18/2015 09:44:00 PM,Timestamp,03/18/2015 09:44:00 PM
24,OCURRED_IN,CASE_HY190060,C31,StartTime,03/18/2015 11:30:00 PM,EndTime,03/18/2015 11:30:00 PM,Timestamp,03/18/2015 11:30:00 PM
25,OCURRED_IN,CASE_HY190035,C40,StartTime,03/18/2015 10:45:00 PM,EndTime,03/18/2015 10:45:00 PM,Timestamp,03/18/2015 10:45:00 PM
26,OCURRED_IN,CASE_HY190027,C73,StartTime,03/18/2015 10:33:00 PM,EndTime,03/18/2015 10:33:00 PM,Timestamp,03/18/2015 10:33:00 PM
27,OCURRED_IN,CASE_HY190096,C71,StartTime,03/19/2015 01:20:00 AM,EndTime,03/19/2015 01:20:00 AM,Timestamp,03/19/2015 01:20:00 AM
28,OCURRED_IN,CASE_HY190003,C71,StartTime,03/18/2015 09:59:00 PM,EndTime,03/18/2015 09:59:00 PM,Timestamp,03/18/2015 09:59:00 PM
29,OCURRED_IN,CASE_HY190101,C51,StartTime,03/19/2015 01:28:00 AM,EndTime,03/19/2015 01:28:00 AM,Timestamp,03/19/2015 01:28:00 AM
...,...,...,...,...,...,...,...,...,...
5855663,CONSIDERED,C30,CR_DAN,HardshipIndex,96,NaN,NaN,NaN,NaN
5855664,CONSIDERED,C31,CR_DAN,HardshipIndex,76,NaN,NaN,NaN,NaN
5855665,CONSIDERED,C34,CR_DAN,HardshipIndex,82,NaN,NaN,NaN,NaN
5855666,CONSIDERED,C36,CR_DAN,HardshipIndex,78,NaN,NaN,NaN,NaN
5855667,CONSIDERED,C37,CR_DAN,HardshipIndex,97,NaN,NaN,NaN,NaN
5855668,CONSIDERED,C38,CR_DAN,HardshipIndex,57,NaN,NaN,NaN,NaN
5855669,CONSIDERED,C40,CR_DAN,HardshipIndex,88,NaN,NaN,NaN,NaN
5855670,CONSIDERED,C42,CR_DAN,HardshipIndex,58,NaN,NaN,NaN,NaN
5855671,CONSIDERED,C43,CR_DAN,HardshipIndex,55,NaN,NaN,NaN,NaN
5855672,CONSIDERED,C44,CR_DAN,HardshipIndex,60,NaN,NaN,NaN,NaN
5855673,CONSIDERED,C46,CR_DAN,HardshipIndex,75,NaN,NaN,NaN,NaN
5855674,CONSIDERED,C47,CR_DAN,HardshipIndex,79,NaN,NaN,NaN,NaN
5855675,CONSIDERED,C49,CR_DAN,HardshipIndex,52,NaN,NaN,NaN,NaN
5855676,CONSIDERED,C50,CR_DAN,HardshipIndex,51,NaN,NaN,NaN,NaN
5855677,CONSIDERED,C51,CR_DAN,HardshipIndex,65,NaN,NaN,NaN,NaN
5855678,CONSIDERED,C52,CR_DAN,HardshipIndex,64,NaN,NaN,NaN,NaN
5855679,CONSIDERED,C53,CR_DAN,HardshipIndex,62,NaN,NaN,NaN,NaN
5855680,CONSIDERED,C54,CR_DAN,HardshipIndex,98,NaN,NaN,NaN,NaN
5855681,CONSIDERED,C57,CR_DAN,HardshipIndex,67,NaN,NaN,NaN,NaN
5855682,CONSIDERED,C58,CR_DAN,HardshipIndex,84,NaN,NaN,NaN,NaN
5855683,CONSIDERED,C59,CR_DAN,HardshipIndex,61,NaN,NaN,NaN,NaN
5855684,CONSIDERED,C61,CR_DAN,HardshipIndex,91,NaN,NaN,NaN,NaN
5855685,CONSIDERED,C62,CR_DAN,HardshipIndex,69,NaN,NaN,NaN,NaN
5855686,CONSIDERED,C63,CR_DAN,HardshipIndex,93,NaN,NaN,NaN,NaN
5855687,CONSIDERED,C65,CR_DAN,HardshipIndex,56,NaN,NaN,NaN,NaN
5855688,CONSIDERED,C66,CR_DAN,HardshipIndex,80,NaN,NaN,NaN,NaN
5855689,CONSIDERED,C67,CR_DAN,HardshipIndex,89,NaN,NaN,NaN,NaN
5855690,CONSIDERED,C68,CR_DAN,HardshipIndex,94,NaN,NaN,NaN,NaN
5855691,CONSIDERED,C69,CR_DAN,HardshipIndex,66,NaN,NaN,NaN,NaN
5855692,CONSIDERED,C71,CR_DAN,HardshipIndex,74,NaN,NaN,NaN,NaN

In [58]:
# Save nodes for further usage
DATASET_NODES_PATH = DATASETS_LOCATION + "/timewise_edges.csv"
edges_df.to_csv(DATASET_NODES_PATH, index = False)